<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active"><%= @point.id %></li>
</ol>

<p><%= link_to '編集', edit_point_path, :class=>"btn btn-default" %></p>

<table class="table table-striped table-hover">
  <tr>
    <th>No</th>
    <td class="align-middle"><%= @point.number %></td>
  </tr>

  <tr>
    <th>現況</th>
    <td class="align-middle"><%= @point.genkyo %></td>
  </tr>

  
  <tr>
    <th>コメント</th>
    <td class="align-middle"><%= @point.comment %></td>
  </tr>
</table>