<% @houses.each do |house| %>
  <div class="page">
    <table class="table table-bordered" style="font-size:10px;">
      <tr>
        <td colspan="4">建物水準測量結果表</td>
        <td>家屋番号：<%= house.id %></td>
      </tr>
      <tr>
        <td>測点</td>
        <td>場所</td>
        <td>事前調査測定値（mm）</td>
        <td>事後調査測定値（mm）</td>
        <td>変化量（mm）</td>
      </tr>
      <% points = house.points %>
      <% points.each do |point| %>
        <% pre_post = point.posts.find_by(survey_type: "pre") %>
        <tr>
          <td><%= point.number %></td>
          <td><%= point.room_name %></td>
          <td><%= pre_post.hyoko + ((pre_post.ouro_fs - pre_post.ouro_bs) + (pre_post.fukuro_fs - pre_post.fukuro_bs)) / 2 %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </table>
    <p class="text-right"><%= @investigation.investigator_pre_survey %></p>
  </div>

  <% points = house.points %>
  <% num = 0 %>
  <% while num < points.length do %>
    <div class="page">
      <table class="table table-bordered" style="font-size:10px;">
        <% point = points[num] %>
        <% pre_post = point.posts.find_by(survey_type: "pre") %>
        <% if pre_post != nil %>
          <% num = num + 1 %>
          <tr>
            <td style="max-height: 30%;">
              <div class="post-img"> 
                <%= image_tag pre_post.image1 %>
                <% if pre_post.position_wb == 0 %>
                  <!-- 左上 -->
                  <div class="wb_left_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>  
                <% elsif pre_post.position_wb == 1 %>
                  <!-- 上 -->
                  <div class="wb_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                <% elsif pre_post.position_wb == 2 %>
                  <!-- 右上 -->
                  <div class="wb_right_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                <% elsif pre_post.position_wb == 3 %>
                  <!-- 右下 -->
                  <div class="wb_right_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                <% elsif pre_post.position_wb == 4 %>
                  <!-- 下 -->
                  <div class="wb_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                <% else %>
                  <!-- 左下 -->
                  <div class="wb_left_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                <% end %>
              </div>
            </td>
            <td style="min-width: 180px;">測点：<%= point.number %></td>
          </tr>
        <% end %>
        <% if num < points.length %>      
          <% point = points[num] %>
          <% pre_post = point.posts.find_by(survey_type: "pre") %>
          <% if pre_post != nil %>
            <% num = num + 1 %>
            <tr>
              <td style="max-height: 30%;">
                <div class="post-img"> 
                  <%= image_tag pre_post.image1 %>
                  <% if pre_post.position_wb == 0 %>
                    <!-- 左上 -->
                    <div class="wb_left_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>  
                  <% elsif pre_post.position_wb == 1 %>
                    <!-- 上 -->
                    <div class="wb_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 2 %>
                    <!-- 右上 -->
                    <div class="wb_right_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 3 %>
                    <!-- 右下 -->
                    <div class="wb_right_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 4 %>
                    <!-- 下 -->
                    <div class="wb_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                  <% else %>
                    <!-- 左下 -->
                    <div class="wb_left_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                  <% end %>
                </div>
              </td>
              <td style="min-width: 180px;">測点：<%= point.number %></td>
            </tr>
          <% end %>
        <% end %>
        <% if num < points.length %>      
          <% point = points[num] %>
          <% pre_post = point.posts.find_by(survey_type: "pre") %>
          <% if pre_post != nil %>
            <% num = num + 1 %>
            <tr>
              <td style="max-height: 30%;">
                <div class="post-img"> 
                  <%= image_tag pre_post.image1 %>
                  <% if pre_post.position_wb == 0 %>
                    <!-- 左上 -->
                    <div class="wb_left_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>  
                  <% elsif pre_post.position_wb == 1 %>
                    <!-- 上 -->
                    <div class="wb_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 2 %>
                    <!-- 右上 -->
                    <div class="wb_right_top"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 3 %>
                    <!-- 右下 -->
                    <div class="wb_right_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>    
                  <% elsif pre_post.position_wb == 4 %>
                    <!-- 下 -->
                    <div class="wb_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                  <% else %>
                    <!-- 左下 -->
                    <div class="wb_left_down"><%= render 'posts/wb', { house: house, point: point, post: pre_post } %></div>
                  <% end %>
                </div>
              </td>
              <td style="min-width: 180px;">測点：<%= point.number %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %><!-- while num < points.length do -->
<% end %>