<div class="row">
  <!-- <div class="col-md-6 col-md-offset-3"> -->
  <div style="margin: 10px;">
    <%= form_for(@point) do |f| %>
      <p class="text-right">*必須</p>
      <%= f.hidden_field :survey_id, :value => @survey.id %>

      <table>
        <tr>
          <td>
            <%= image_tag "sampleImage.jpg", width: "50%" %>
          </td>
          <td>
            <%= image_tag @point.image1, width: "50%", id: :img_prev if @point.image1? %>
          </td>
        </tr>
      </table>

      <div class="form-group">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'camera' %>
        <%= f.hidden_field :image1_cache %>
      </div>
      
      <div class="form-group">
        <%= f.label :genkyo, '現況' %><%= f.check_box :genkyo, {}, "true", "false" %>
        <%= f.label :sukima, '隙間' %><%= f.check_box :sukima, {}, "true", "false" %>
        <%= f.label :ware, '割れ' %><%= f.check_box :ware, {}, "true", "false" %>
        <%= f.label :kake, '欠け' %><%= f.check_box :kake, {}, "true", "false" %>
        <%= f.label :amimejyo, '網目状' %><%= f.check_box :amimejyo, {}, "true", "false" %>
        <%= f.label :zencho, '全長' %><%= f.check_box :zencho, {}, "true", "false" %>
        <%= f.label :sokuten, '測点' %><%= f.check_box :sokuten, {}, "true", "false" %>
        <%= f.label :crack, 'クラック' %><%= f.check_box :crack, {}, "true", "false" %>
        <%= f.label :tile, 'タイル' %><%= f.check_box :tile, {}, "true", "false" %>
        <%= f.label :kire, '切れ' %><%= f.check_box :kire, {}, "true", "false" %>
        <%= f.label :uki, '浮き' %><%= f.check_box :uki, {}, "true", "false" %>
        <%= f.label :suhon, '数本' %><%= f.check_box :suhon, {}, "true", "false" %>
        <%= f.label :zenshu, '全周' %><%= f.check_box :zenshu, {}, "true", "false" %>
        <%= f.label :suichokukeisya, '垂直傾斜' %><%= f.check_box :suichokukeisya, {}, "true", "false" %>
        <%= f.label :chirigire, 'チリ切れ' %><%= f.check_box :chirigire, {}, "true", "false" %>
        <%= f.label :cross, 'クロス' %><%= f.check_box :cross, {}, "true", "false" %>        
        <%= f.label :meji, '目地' %><%= f.check_box :meji, {}, "true", "false" %>
        <%= f.label :tategu, '建具' %><%= f.check_box :tategu, {}, "true", "false" %>
        <%= f.label :tasu, '多数' %><%= f.check_box :tasu, {}, "true", "false" %>
        <%= f.label :kakusyo, '各所' %><%= f.check_box :kakusyo, {}, "true", "false" %>
        <%= f.label :suiheikeisya, '水平傾斜' %><%= f.check_box :suiheikeisya, {}, "true", "false" %>                
      </div>
      
      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_field :comment, :class=>"form-control" %>
      </div>
      
      <%= f.submit '登録', :class=>"btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#book_img").change(function(){
   readURL(this);
 });
});
</script>