<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active">傾斜：No.<%= @point.number %>の調査箇所</li>
</ol>

<h2 class="text-center">測点（レベル）：No.<%= @point.number %>の調査箇所</h2>

<% if @point.room_name_other != "" %>
  <p>現在の調査箇所：<%= @point.room_name %>/<%= @point.room_name_other %></p>
<% else %>
  <p>現在の調査箇所：<%= @point.room_name %></p>
<% end %>

<div>
  <%= form_for(@point) do |f| %>
    <%= select_tag('room_name',options_for_select($OUTSIDE_NAME), :onchange => 'enable_room_name()')%>
    <input type="text" name="other" placeholder="">
    <%= f.submit '更新', :disabled => true, :id => "add_point", :class=>"btn btn-primary" %>
  <% end %>
</div>

<script>
//セレクトボックスイベント設定
setHierarchySelectEvent('#area1', '#area2');
setHierarchySelectEvent('#area3', '#area4');
/**
 * 階層のあるプルダウンのイベントを設定します.
 * 親のselectタグには属性data-subgroupが設定されている必要があります。
 * 子のselectタグには属性data-groupが設定されている必要があります。
 * @param parentSelect 親となるselectタグのセレクタ
 * @param childSelect 子となるselectタグのセレクタ
 */
function setHierarchySelectEvent(parentSelect, childSelect){
  var initCategorySmallHtml = $(childSelect).html();
  $(parentSelect).change(function(){
    if( 1 < $(this).find('option:selected').length ){//複数選択時に処理
      $(childSelect).find("option").each(function(index, element){
        $(element).remove();
      });
    }else{
      var subgroup =  $(this).find('option:selected').attr('data-subgroup');
      $(childSelect).html(initCategorySmallHtml);
      $(childSelect).find("option").each(function(index, element){
          var group = $(element).attr('data-group');
          if( group ){
            if( subgroup == group ){
              //$(element).css('display', 'block');//IEではoptionタグに対してdisplayは効かないため
            }else{
              //$(element).css('display', 'none');//IEではoptionタグに対してdisplayは効かないため
              $(element).remove();
            }
          }
      });
    }
    $(childSelect).val('').change();//未選択時の値は''じゃない場合は書き換えてね
  });
}

// 測点の追加ボタンの有効・無効
function enable_room_name(){
  var room_name = document.getElementById("room_name");
  var add_point = document.getElementById("add_point");
  
  if(room_name.value != "" && room_name.value != null) {
    add_point.disabled = false;
    //console.log("OK");
  } else {
    add_point.disabled = true;
    //console.log("NG");
  }
  //console.log(add_sonsyo.disabled);
}
</script>