<table class="table table-bordered" style="font-size:10px;">
  <tr>
    <td>調査日</td>
    <% if survey_type == 'pre' or survey_type == '事前' %>
      <td colspan="2">
        <% #house.pre_survey_day %>
        <%= render 'investigations/pages/disp_chosabi', 
            start_day: house.pre_survey_day, end_day: house.end_pre_survey_day, calendar: "seireki" %>
      </td>
    <% elsif survey_type == 'ongoing' or survey_type == '事中' %>
      <td colspan="2">
        <% #house.ongoing_survey_day %>
        <%= render 'investigations/pages/disp_chosabi', 
            start_day: house.ongoing_survey_day, end_day: house.end_ongoing_survey_day, calendar: "seireki" %>
      </td>
    <% elsif survey_type == 'after' or survey_type == '事後' %>
      <td colspan="2">
        <% #house.after_survey_day %>
        <%= render 'investigations/pages/disp_chosabi', 
            start_day: house.after_survey_day, end_day: house.end_after_survey_day, calendar: "seireki" %>
      </td>
    <% end %>    
    <td>ご承諾印</td>        
  </tr>
  <tr>
    <td>所在地</td>
    <td colspan="3"><%= house.city %><%= house.block %></td>
  </tr>
  <tr>
    <% if approver == '居住者' %>
      <td>現住居者氏名（承諾者）</td>
    <% else %>
      <td>現住居者氏名</td>    
    <% end %>
    <td><%= house.house_name %></td>
    <td>TEL</td>
    <td><%= house.resident_phone_number %></td>
  </tr>
  <tr>
    <% if approver == '所有者' %>
      <td>所有者氏名（承諾者）</td>
    <% else %>
      <td>所有者氏名</td>    
    <% end %>
    <td><%= house.owner_name %></td>
    <td>TEL</td>
    <td><%= house.owner_phone_number %></td>
  </tr>
  <tr>
    <td>調査範囲</td>
    <% if survey_type == 'pre' or survey_type == '事前' %>
      <td colspan="3"><%= house.range_pre_survey %></td>
    <% elsif survey_type == 'ongoing' or survey_type == '事中' %>
      <td colspan="3"><%= house.range_ongoing_survey %></td>
    <% elsif survey_type == 'after' or survey_type == '事後' %>
      <td colspan="3"><%= house.range_after_survey %></td>
    <% end %>
  </tr>        
</table>