<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li class="active"><%= @house.house_name %></li>
</ol>

<h2>家屋名（居住者名）：<%= @house.house_name %></h2>
<p><%= link_to '家屋情報の編集', edit_house_path, :class=>"btn btn-primary" %></p>

<table class="table table-striped table-hover">
  <tr>
    <th>家屋番号</th>
    <td class="align-middle"><%= @house.house_number %></td>
  </tr>
  <tr>
    <th>建物所在地</th>
    <td class="align-middle"><%= @house.prefectures %><%= @house.city %><%= @house.block %></td>
  </tr>
  <tr>
    <th>居住者電話番号</th>
    <td class="align-middle"><%= @house.resident_phone_number %></td>
  </tr>  
  <tr>
    <th>構造</th>
    <td class="align-middle"><%= @house.construction %></td>
  </tr>  
  <tr>
    <th>階数</th>
    <td class="align-middle"><%= @house.floors %></td>
  </tr>
  <tr>
    <th>延面積(m2)</th>
    <td class="align-middle"><%= @house.area %></td>
  </tr>
  <tr>
    <th>建築年数</th>
    <% 
      if @house.completion_date.present?
        years = Date.today.year - @house.completion_date.year
      else
        years = ""
      end
    %>
    <td class="align-middle">築後　約 <%= years %> 年</td>
  </tr>
  <tr>
    <th>用途</th>
    <td class="align-middle"><%= @house.use %></td>
  </tr>
  <tr>
    <th>所有者名（フリガナ）</th>
    <td class="align-middle"><%= @house.owner_name_ruby %></td>
  </tr>  
  <tr>
    <th>所有者名</th>
    <td id="owner_name" class="align-middle"><%= @house.owner_name %></td>
  </tr>
  <tr>
    <th>所有者住所</th>
    <td class="align-middle"><%= @house.owner_prefectures %><%= @house.owner_city %><%= @house.owner_block %></td>
  </tr>  
  <tr>
    <th>所有者電話番号</th>
    <td class="align-middle"><%= @house.owner_phone_number %></td>
  </tr>
</table>

<hr/>

<p>事前調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_pre_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_pre_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_pre_survey.file == nil %>
    <%= link_to '所有者の承諾書（未サイン）', syodakusyo_new_pre_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '所有者の承諾書（サイン済み）', syodakusyo_show_pre_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
  <% if @house.kyojyusya_sign_pre_survey.file == nil %>
    <%= link_to '居住者の承諾書（未サイン）', kyojyusya_syodakusyo_new_pre_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '居住者の承諾書（サイン済み）', kyojyusya_syodakusyo_show_pre_survey_house_path, :class=>"btn btn-default" %>
  <% end %>  
</div>

<hr/>

<p>事中調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_ongoing_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_ongoing_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_ongoing_survey.file == nil %>
    <%= link_to '所有者の承諾書（未サイン）', syodakusyo_new_ongoing_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '所有者の承諾書（サイン済み）', syodakusyo_show_ongoing_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
  <% if @house.kyojyusya_sign_ongoing_survey.file == nil %>
    <%= link_to '居住者の承諾書（未サイン）', kyojyusya_syodakusyo_new_ongoing_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '居住者の承諾書（サイン済み）', kyojyusya_syodakusyo_show_ongoing_survey_house_path, :class=>"btn btn-default" %>
  <% end %>  
</div>

<hr/>

<p>事後調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_after_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_after_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_after_survey.file == nil %>
    <%= link_to '所有者の承諾書（未サイン）', syodakusyo_new_after_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '所有者の承諾書（サイン済み）', syodakusyo_show_after_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
  <% if @house.kyojyusya_sign_after_survey.file == nil %>
    <%= link_to '居住者の承諾書（未サイン）', kyojyusya_syodakusyo_new_after_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '居住者の承諾書（サイン済み）', kyojyusya_syodakusyo_show_after_survey_house_path, :class=>"btn btn-default" %>
  <% end %>  
</div>

<hr/>

<h2 id="sonsyo">損傷一覧</h2>
<p>
  <%= form_tag sonsyos_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "損傷の追加", :disabled => false, :class => "btn btn-primary", :id => "add_sonsyo" %>
    >> 調査箇所：
    <select name="area1" id="area1">
      <option data-subgroup="overall" selected></option>
      <option data-subgroup="outter">外部</option>
      <option data-subgroup="inner">内部</option>
    </select>
    
    <% last = @sonsyos.last %>
    <select name="area2" id="area2" onChange="enable_area2()">
      <!-- 全景 -->
      <% if last.present? && @sonsyos.last.room_name == "全景" %>
        <option data-group="overall" value="全景" selected>全景</option>
      <% else %>
        <option data-group="overall" value="全景">全景</option>
      <% end %>
      <!-- 外部 -->
      <%= render 'houses/select_option_for_outer', last: last  %>
      <!-- 内部 -->
      <%= render 'houses/select_option_for_inner', last: last %>
    </select>
    <% if last.present? %><!-- フリー入力欄 -->
      <input type="text" name="other" value="<%= last.room_name_other %>">
    <% else %>
      <input type="text" name="other" value="">
    <% end %>
    
  <% end %>
</p>

<div class="table_inner_scroll_box">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= link_to "ID", house_path(id:@house, sort_sonsyo: "false", anchor: 'sonsyo') %></th>
        <th class="text-center"><%= link_to "調査箇所", house_path(id:@house, sort_sonsyo: "true", anchor: 'sonsyo') %></th>    
        <th class="text-center">事前調査</th>
        <th class="text-center">事中調査</th>
        <th class="text-center">事後調査</th>
        <th class="text-center"></th>    
      </tr>
    </thead>
  
    <tbody>
      <% @sonsyos.each do |sonsyo| %>
        <tr id="sonsyo_id_<%= sonsyo.id %>">
          <td class="text-center align-middle">No.<%= sonsyo.number %></td>
          <td class="text-center align-middle">
            <% if sonsyo.room_name_other.present? %>
              <%= link_to sonsyo.room_name + "/" + sonsyo.room_name_other, edit_sonsyo_path(sonsyo.id) %>
            <% else %>
              <%= link_to sonsyo.room_name, edit_sonsyo_path(sonsyo.id) %>
            <% end %>
          </td>
          
          <!-- 新機能搭載ver -->
          <td class="text-center align-middle">
            <% if sonsyo.damages.find_by(survey_type: "pre").image1? %>
              <% pre_damage = sonsyo.damages.find_by(survey_type: "pre") %>
              <%= link_to image_tag(pre_damage.image2, class:"thumbnail"), pre_damage  %>
            <% else %>
              <% if @investigation.status != "事前調査" %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "pre"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "pre"), :class=>"btn btn-primary shooting" %>              
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if sonsyo.damages.find_by(survey_type: "ongoing").image1? %>
              <% ongoing_damage = sonsyo.damages.find_by(survey_type: "ongoing") %>
              <%= link_to image_tag(ongoing_damage.image2, class:"thumbnail"), ongoing_damage %>
            <% else %>
              <% if @investigation.status != "事中調査" %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if sonsyo.damages.find_by(survey_type: "after").image1? %>
              <% after_damage = sonsyo.damages.find_by(survey_type: "after") %>
              <%= link_to image_tag(after_damage.image2, class:"thumbnail"), after_damage %>
            <% else %>
              <% if @investigation.status != "事後調査" %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "after"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "after"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <!-- 新機能搭載ver -->
          <td class="text-center align-middle"><%= link_to "削除", sonsyo, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr/>

<h2 id="keisya">傾斜一覧</h2>
<p>
  <%= form_tag keisyas_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "傾斜の追加", :disabled => true, :class => "btn btn-primary", :id => "add_keisya" %>
    >> 調査箇所：
    <select name="area3" id="area3">
      <option data-subgroup=""></option>
      <option data-subgroup="outter">外部</option>
      <option data-subgroup="inner">内部</option>
    </select>
    
    <% last = @keisyas.last %>
    <select name="area4" id="area4" onChange="enable_area4()">
      <!-- 外部 -->
      <%= render 'houses/select_option_for_outer', last: last %>
      <!-- 内部 -->
      <%= render 'houses/select_option_for_inner', last: last %>
    </select>
    <% if last.present? %><!-- フリー入力欄 -->
      <input type="text" name="other" value="<%= last.room_name_other %>">
    <% else %>
      <input type="text" name="other" value="">
    <% end %>

  <% end %>
</p>

<div class="table_inner_scroll_box">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= link_to "ID", house_path(id:@house, sort_keisya: "false", anchor: 'keisya') %></th>
        <th class="text-center"><%= link_to "調査箇所", house_path(id:@house, sort_keisya: "true", anchor: 'keisya') %></th>  
        <th class="text-center">事前調査</th>
        <th class="text-center">事中調査</th>
        <th class="text-center">事後調査</th>
        <th class="text-center"></th>    
      </tr>
    </thead>
    
    <tbody>
      <% @keisyas.each do |keisya| %>
        <tr id="keisya_id_<%= keisya.id %>">
          <td class="text-center align-middle"><%= disp_alphabet(keisya.number) %></td>
          <td class="text-center align-middle">
            <% if keisya.room_name_other.present? %>
              <%= link_to keisya.room_name + "/" + keisya.room_name_other, edit_keisya_path(keisya.id) %>
            <% else %>
              <%= link_to keisya.room_name, edit_keisya_path(keisya.id) %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if keisya.slopes.find_by(survey_type: "pre").image1? %>
              <% pre_slope = keisya.slopes.find_by(survey_type: "pre") %>
              <%= link_to image_tag(pre_slope.image2, class:"thumbnail"), pre_slope %>
              <%# link_to pre_slope.updated_at.strftime('%Y/%m/%d'), pre_slope, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事前調査" %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "pre"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "pre"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if keisya.slopes.find_by(survey_type: "ongoing").image1? %>
              <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
              <%= link_to image_tag(ongoing_slope.image2, class:"thumbnail"), ongoing_slope %>
              <%# link_to ongoing_slope.updated_at.strftime('%Y/%m/%d'), ongoing_slope, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事中調査" %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if keisya.slopes.find_by(survey_type: "after").image1? %>
              <% after_slope = keisya.slopes.find_by(survey_type: "after") %>
              <%= link_to image_tag(after_slope.image2, class:"thumbnail"), after_slope %>
              <%# link_to after_slope.updated_at.strftime('%Y/%m/%d'), after_slope, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事後調査" %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "after"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "after"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle"><%= link_to "削除", keisya, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr/>

<h2 id="point">測点（レベル）一覧</h2>
<p>
  <%= form_tag points_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "測点の追加", :disabled => true, :class => "btn btn-primary", :id => "add_point" %>
    >> 調査箇所：
    <% last = @points.last %>
    <select name="room_name" id="room_name" onchange="enable_room_name()">
      <!-- 外部 -->
      <%= render 'houses/select_option_for_outer', last: last  %>
    </select>
    <% if last.present? %><!-- フリー入力欄 -->
      <input type="text" name="other" value="<%= last.room_name_other %>">
    <% else %>
      <input type="text" name="other" value="">
    <% end %>
  <% end %>
</p>


<div class="table_inner_scroll_box">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= link_to "ID", house_path(id:@house, sort_point: "false", anchor: 'point') %></th>
        <th class="text-center"><%= link_to "調査箇所", house_path(id:@house, sort_point: "true", anchor: 'point') %></th>  
        <th class="text-center">事前調査</th>
        <th class="text-center">事中調査</th>
        <th class="text-center">事後調査</th>
        <th class="text-center"></th>    
      </tr>
    </thead>
    
    <tbody>
      <% @points.each do |point| %>
        <tr id="point_id_<%= point.id %>">
          <td class="text-center align-middle">P.<%= point.number %></td>
          <td class="text-center align-middle">
            <% if point.room_name_other.present? %>
              <%= link_to point.room_name + "/" + point.room_name_other, edit_point_path(point.id) %>
            <% else %>
              <%= link_to point.room_name, edit_point_path(point.id) %>
            <% end %>        
          </td>
          <td class="text-center align-middle">
            <% if point.posts.find_by(survey_type: "pre").image1? %>
              <% pre_post = point.posts.find_by(survey_type: "pre") %>
              <%= link_to image_tag(pre_post.image2, class:"thumbnail"), pre_post %>
              <%# link_to pre_post.updated_at.strftime('%Y/%m/%d'), pre_post, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事前調査" %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "pre"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "pre"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if point.posts.find_by(survey_type: "ongoing").image1? %>
              <% ongoing_post = point.posts.find_by(survey_type: "ongoing") %>
              <%= link_to image_tag(ongoing_post.image2, class:"thumbnail"), ongoing_post %>
              <%# link_to ongoing_post.updated_at.strftime('%Y/%m/%d'), ongoing_post, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事中調査" %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "ongoing"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle">
            <% if point.posts.find_by(survey_type: "after").image1? %>
              <% after_post = point.posts.find_by(survey_type: "after") %>
              <%= link_to image_tag(after_post.image2, class:"thumbnail"), after_post %>
              <%# link_to after_post.updated_at.strftime('%Y/%m/%d'), after_post, :class=>"btn btn-default" %>
            <% else %>
              <% if @investigation.status != "事後調査" %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "after"), :class=>"btn btn-primary shooting", :disabled => true %>
              <% else %>
                <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "after"), :class=>"btn btn-primary shooting" %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center align-middle"><%= link_to "削除", point, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
/* クリック・タッチを無効化 */
.nullify {
  pointer-events: none;
}

/* テーブル内スクロール *
.table_inner_scroll_box {
  overflow-y: auto;
  max-height: 400px;
  -webkit-overflow-scrolling: touch;
}
.table_inner_scroll_box thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}
.table_inner_scroll_box thead th::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: -1;
}
*/

.table_inner_scroll_box th {
  min-width: 76px;
}
.table_inner_scroll_box .thumbnail {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 70px;
  display: block;
}
.table_inner_scroll_box a:has(.thumbnail) {
  display: inline-block;
}
</style>

<script>
//セレクトボックスイベント設定
setHierarchySelectEvent('#area1', '#area2');
setHierarchySelectEvent('#area3', '#area4');

function setHierarchySelectEvent(parentSelect, childSelect){
  var initCategorySmallHtml = $(childSelect).html();
  $(parentSelect).change(function(){
    if( 1 < $(this).find('option:selected').length ){//複数選択時に処理
      $(childSelect).find("option").each(function(index, element){
        $(element).remove();
      });
    }else{
      var subgroup =  $(this).find('option:selected').attr('data-subgroup');
      $(childSelect).html(initCategorySmallHtml);
      $(childSelect).find("option").each(function(index, element){
          var group = $(element).attr('data-group');
          if( group ){
            if( subgroup == group ){
              //$(element).css('display', 'block');//IEではoptionタグに対してdisplayは効かないため
            }else{
              //$(element).css('display', 'none');//IEではoptionタグに対してdisplayは効かないため
              $(element).remove();
            }
          }
      });
    }
    $(childSelect).val('').change();
  });
}
////////////////////////////////////////
// 損傷の追加ボタンの有効・無効
function enable_area2(){
  var owner_name = document.getElementById("owner_name");
  if(owner_name.innerHTML == ""){
    alert("家屋情報を編集し、所有者氏名を正しい漢字で入力してから調査を開始してください");
    return;
  }
  
  var area2 = document.getElementById("area2");
  var add_sonsyo = document.getElementById("add_sonsyo");
  
  if(area2.value != "" && area2.value != null) {
    add_sonsyo.disabled = false;
  } else {
    add_sonsyo.disabled = true;
  }
}
// 傾斜の追加ボタンの有効・無効
function enable_area4(){
  var owner_name = document.getElementById("owner_name");
  if(owner_name.innerHTML == ""){
    alert("家屋情報を編集し、所有者氏名を正しい漢字で入力してから調査を開始してください");
    return;
  }
  
  var area4 = document.getElementById("area4");
  var add_keisya = document.getElementById("add_keisya");
  
  if(area4.value != "" && area4.value != null) {
    add_keisya.disabled = false;
  } else {
    add_keisya.disabled = true;
  }
}
// 測点の追加ボタンの有効・無効
function enable_room_name(){
  var owner_name = document.getElementById("owner_name");
  if(owner_name.innerHTML == ""){
    alert("家屋情報を編集し、所有者氏名を正しい漢字で入力してから調査を開始してください");
    return;
  }
  
  var room_name = document.getElementById("room_name");
  var add_point = document.getElementById("add_point");
  
  if(room_name.value != "" && room_name.value != null) {
    add_point.disabled = false;
  } else {
    add_point.disabled = true;
  }
  //console.log(add_sonsyo.disabled);
}
//////////////////////////////
// 初回読み込み後
$(document).ready(function() {
  var owner_name = document.getElementById("owner_name");
  
  var add_point = document.getElementById("add_point");
  var add_sonsyo = document.getElementById("add_sonsyo");
  var add_keisya = document.getElementById("add_keisya");
  
  if(owner_name.innerHTML == "") {
    add_point.disabled = true;
    add_sonsyo.disabled = true;
    add_keisya.disabled = true;
  } else {
    add_point.disabled = false;
    add_sonsyo.disabled = false;
    add_keisya.disabled = false;
  }
  
  ////////////////////////////////////
  // ユーザーエージェントの取得
  var userAgentResult = navigator.userAgent;
  console.log(userAgentResult);
    
  // ユーザーエージェントにより、処理を切り分け
  if(userAgentResult.match(/iPhone/))
  {
    //alert(userAgentResult + "\niPhoneです");
    console.log("iPhoneです");
  }
  else if(userAgentResult.match(/iPad/))
  {
    //alert(userAgentResult + "\niPadです");
    console.log("iPadです");    
  }
  else
  {
    //alert(userAgentResult + "\nその他の端末です");
    console.log("その他の端末です");
    $(".shooting").addClass("nullify");
  }
});
</script>