<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li class="active"><%= @house.house_name %></li>
</ol>

<h2>家屋名（居住者名）：<%= @house.house_name %></h2>
<p><%= link_to '編集', edit_house_path, :class=>"btn btn-default" %></p>

<p>家屋詳細</p>
<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <td class="align-middle"><%= @house.id %></td>
  </tr>
  <tr>
    <th>建物所在地</th>
    <td class="align-middle"><%= @house.prefectures %><%= @house.city %><%= @house.block %></td>
  </tr>
  <tr>
    <th>居住者電話番号</th>
    <td class="align-middle"><%= @house.resident_phone_number %></td>
  </tr>  
  <tr>
    <th>構造</th>
    <td class="align-middle"><%= @house.construction %></td>
  </tr>  
  <tr>
    <th>階数</th>
    <td class="align-middle"><%= @house.floors %></td>
  </tr>
  <tr>
    <th>延面積(m2)</th>
    <td class="align-middle"><%= @house.area %></td>
  </tr>
  <tr>
    <th>用途</th>
    <td class="align-middle"><%= @house.use %></td>
  </tr>
  <tr>
    <th>所有者名（フリガナ）</th>
    <td class="align-middle"><%= @house.owner_name_ruby %></td>
  </tr>  
  <tr>
    <th>所有者名</th>
    <td class="align-middle"><%= @house.owner_name %></td>
  </tr>
  <tr>
    <th>所有者住所</th>
    <td class="align-middle"><%= @house.owner_prefectures %><%= @house.owner_city %><%= @house.owner_block %></td>
  </tr>  
  <tr>
    <th>所有者電話番号</th>
    <td class="align-middle"><%= @house.owner_phone_number %></td>
  </tr>
</table>

<hr/>

<p>事前調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_pre_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_pre_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_pre_survey.file == nil %>
    <%= link_to '承諾書（未サイン）', syodakusyo_new_pre_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '承諾書（サイン済み）', syodakusyo_show_pre_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
</div>

<hr/>

<p>事中調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_ongoing_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_ongoing_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_ongoing_survey.file == nil %>
    <%= link_to '承諾書（未サイン）', syodakusyo_new_ongoing_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '承諾書（サイン済み）', syodakusyo_show_ongoing_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
</div>

<hr/>

<p>事後調査</p>
<table class="table table-striped table-hover">
  <tr>
    <th>建物概算</th>
    <td class="align-middle"><%= @house.overview_after_survey %></td>
  </tr> 
  <tr>
    <th>調査範囲</th>
    <td class="align-middle"><%= @house.range_after_survey %></td>
  </tr>   
</table>
<div>
  <% if @house.sign_after_survey.file == nil %>
    <%= link_to '承諾書（未サイン）', syodakusyo_new_after_survey_house_path, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to '承諾書（サイン済み）', syodakusyo_show_after_survey_house_path, :class=>"btn btn-default" %>
  <% end %>
</div>

<hr/>

<h2 id="sonsyo">損傷一覧</h2>
<p>
  <%= form_tag sonsyos_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "損傷の追加", :disabled => false, :class => "btn btn-primary", :id => "add_sonsyo" %>
    >> 調査箇所：
    <select name="area1" id="area1">
      <option data-subgroup="overall" selected></option>
      <option data-subgroup="outter">外部</option>
      <option data-subgroup="inner">内部</option>
    </select>
    <select name="area2" id="area2" onChange="enable_area2()">
      <%= render 'houses/select_option_for_sonsyo' %>
    </select>
    <input type="text" name="other" placeholder="">
  <% end %>
</p>

<table class="table table-striped table-hover">
  <tr>
    <th class="text-center"></th>
    <th class="text-center">調査箇所</th>    
    <th class="text-center">事前調査</th>
    <th class="text-center">事中調査</th>
    <th class="text-center">事後調査</th>
    <th class="text-center"></th>    
  </tr>
  
  <% @sonsyos.each do |sonsyo| %>
    <tr>
      <td class="text-center align-middle">No.<%= sonsyo.number %></td>
      <td class="text-center align-middle">
        <% if sonsyo.room_name_other.present? %>
          <%= link_to sonsyo.room_name + "/" + sonsyo.room_name_other, edit_sonsyo_path(sonsyo.id) %>
        <% else %>
          <%= link_to sonsyo.room_name, edit_sonsyo_path(sonsyo.id) %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if sonsyo.damages.find_by(survey_type: "pre").image1? %>
          <% pre_damage = sonsyo.damages.find_by(survey_type: "pre") %>
          <%= link_to pre_damage.updated_at.strftime('%Y/%m/%d'), pre_damage, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "pre"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if sonsyo.damages.find_by(survey_type: "ongoing").image1? %>
          <% ongoing_damage = sonsyo.damages.find_by(survey_type: "ongoing") %>
          <%= link_to ongoing_damage.updated_at.strftime('%Y/%m/%d'), ongoing_damage, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "ongoing"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if sonsyo.damages.find_by(survey_type: "after").image1? %>
          <% after_damage = sonsyo.damages.find_by(survey_type: "after") %>
          <%= link_to after_damage.updated_at.strftime('%Y/%m/%d'), after_damage, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_damage_path(sonsyo_id: sonsyo.id, survey_type: "after"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle"><%= link_to "削除", sonsyo, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
    </tr>
  <% end %>
</table>

<hr/>

<h2 id="keisya">傾斜一覧</h2>
<p>
  <%= form_tag keisyas_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "傾斜の追加", :disabled => true, :class => "btn btn-primary", :id => "add_keisya" %>
    >> 調査箇所：
    <select name="area3" id="area3">
      <option data-subgroup=""></option>
      <option data-subgroup="outter">外部</option>
      <option data-subgroup="inner">内部</option>
    </select>
    <select name="area4" id="area4" onChange="enable_area4()">
      <%= render 'houses/select_option_for_keisya' %>
    </select>
    <input type="text" name="other" placeholder="">
  <% end %>
</p>

<table class="table table-striped table-hover">
  <tr>
    <th class="text-center"></th>
    <th class="text-center">調査箇所</th>    
    <th class="text-center">事前調査</th>
    <th class="text-center">事中調査</th>
    <th class="text-center">事後調査</th>
    <th class="text-center"></th>    
  </tr>
  
  <% @keisyas.each do |keisya| %>
    <tr>
      <td class="text-center align-middle"><%= disp_alphabet(keisya.number) %></td>
      <td class="text-center align-middle">
        <% if keisya.room_name_other.present? %>
          <%= link_to keisya.room_name + "/" + keisya.room_name_other, edit_keisya_path(keisya.id) %>
        <% else %>
          <%= link_to keisya.room_name, edit_keisya_path(keisya.id) %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if keisya.slopes.find_by(survey_type: "pre").image1? %>
          <% pre_slope = keisya.slopes.find_by(survey_type: "pre") %>
          <%= link_to pre_slope.updated_at.strftime('%Y/%m/%d'), pre_slope, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "pre"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if keisya.slopes.find_by(survey_type: "ongoing").image1? %>
          <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
          <%= link_to ongoing_slope.updated_at.strftime('%Y/%m/%d'), ongoing_slope, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "ongoing"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if keisya.slopes.find_by(survey_type: "after").image1? %>
          <% after_slope = keisya.slopes.find_by(survey_type: "after") %>
          <%= link_to after_slope.updated_at.strftime('%Y/%m/%d'), after_slope, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_slope_path(keisya_id: keisya.id, survey_type: "after"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle"><%= link_to "削除", keisya, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
    </tr>
  <% end %>
</table>

<hr/>

<h2 id="point">測点（レベル）一覧</h2>
<p>
  <%= form_tag points_path do %>
    <%= hidden_field_tag :house_id, @house.id %>
    <%= submit_tag "測点の追加", :disabled => true, :class => "btn btn-primary", :id => "add_point" %>
    >> 調査箇所：<%= select_tag('room_name',options_for_select($OUTSIDE_NAME), :onchange => 'enable_room_name()')%>
    <input type="text" name="other" placeholder="">
  <% end %>
</p>

<table class="table table-striped table-hover">
  <tr>
    <th class="text-center"></th>
    <th class="text-center">調査箇所</th>
    <th class="text-center">事前調査</th>
    <th class="text-center">事中調査</th>
    <th class="text-center">事後調査</th>
    <th class="text-center"></th>    
  </tr>
  
  <% @points.each do |point| %>
    <tr>
      <td class="text-center align-middle">P.<%= point.number %></td>
      <td class="text-center align-middle">
        <% if point.room_name_other.present? %>
          <%= link_to point.room_name + "/" + point.room_name_other, edit_point_path(point.id) %>
        <% else %>
          <%= link_to point.room_name, edit_point_path(point.id) %>
        <% end %>        
      </td>
      <td class="text-center align-middle">
        <% if point.posts.find_by(survey_type: "pre").image1? %>
          <% pre_post = point.posts.find_by(survey_type: "pre") %>
          <%= link_to pre_post.updated_at.strftime('%Y/%m/%d'), pre_post, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "pre"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if point.posts.find_by(survey_type: "ongoing").image1? %>
          <% ongoing_post = point.posts.find_by(survey_type: "ongoing") %>
          <%= link_to ongoing_post.updated_at.strftime('%Y/%m/%d'), ongoing_post, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "ongoing"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle">
        <% if point.posts.find_by(survey_type: "after").image1? %>
          <% after_post = point.posts.find_by(survey_type: "after") %>
          <%= link_to after_post.updated_at.strftime('%Y/%m/%d'), after_post, :class=>"btn btn-default" %>
        <% else %>
          <%= link_to '撮影', edit_post_path(point_id: point.id, survey_type: "after"), :class=>"btn btn-primary" %>
        <% end %>
      </td>
      <td class="text-center align-middle"><%= link_to "削除", point, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
    </tr>
  <% end %>
</table>

<script>
//セレクトボックスイベント設定
setHierarchySelectEvent('#area1', '#area2');
setHierarchySelectEvent('#area3', '#area4');
/**
 * 階層のあるプルダウンのイベントを設定します.
 * 親のselectタグには属性data-subgroupが設定されている必要があります。
 * 子のselectタグには属性data-groupが設定されている必要があります。
 * @param parentSelect 親となるselectタグのセレクタ
 * @param childSelect 子となるselectタグのセレクタ
 */
function setHierarchySelectEvent(parentSelect, childSelect){
  var initCategorySmallHtml = $(childSelect).html();
  $(parentSelect).change(function(){
    if( 1 < $(this).find('option:selected').length ){//複数選択時に処理
      $(childSelect).find("option").each(function(index, element){
        $(element).remove();
      });
    }else{
      var subgroup =  $(this).find('option:selected').attr('data-subgroup');
      $(childSelect).html(initCategorySmallHtml);
      $(childSelect).find("option").each(function(index, element){
          var group = $(element).attr('data-group');
          if( group ){
            if( subgroup == group ){
              //$(element).css('display', 'block');//IEではoptionタグに対してdisplayは効かないため
            }else{
              //$(element).css('display', 'none');//IEではoptionタグに対してdisplayは効かないため
              $(element).remove();
            }
          }
      });
    }
    $(childSelect).val('').change();//未選択時の値は''じゃない場合は書き換えてね
  });
}

// 測点の追加ボタンの有効・無効
function enable_room_name(){
  var room_name = document.getElementById("room_name");
  var add_point = document.getElementById("add_point");
  
  if(room_name.value != "" && room_name.value != null) {
    add_point.disabled = false;
    //console.log("OK");
  } else {
    add_point.disabled = true;
    //console.log("NG");
  }
  //console.log(add_sonsyo.disabled);
}

// 損傷の追加ボタンの有効・無効
function enable_area2(){
  var area2 = document.getElementById("area2");
  var add_sonsyo = document.getElementById("add_sonsyo");
  
  if(area2.value != "" && area2.value != null) {
    add_sonsyo.disabled = false;
    //console.log("OK");
  } else {
    add_sonsyo.disabled = true;
    //console.log("NG");
  }
  //console.log(add_sonsyo.disabled);
}

// 傾斜の追加ボタンの有効・無効
function enable_area4(){
  var area4 = document.getElementById("area4");
  var add_keisya = document.getElementById("add_keisya");
  
  if(area4.value != "" && area4.value != null) {
    add_keisya.disabled = false;
    //console.log("OK");
  } else {
    add_keisya.disabled = true;
    //console.log("NG");
  }
  //console.log(add_sonsyo.disabled);
}
</script>