<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@investigation) do |f| %>
      <p class="text-right">*必須</p>    
    
      <div class="form-group">
        <%= f.label :content, '調査内容*' %>
        <%= f.text_field :content, :class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :construction_name, '工事名*' %>
        <%= f.text_field :construction_name, :class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :builder, '施工者*：' %>
        <%= f.collection_select :builder, Choice.where(category: "施工者"), :name, :name, :prompt => "選択してください" %>
      </div>

      <div class="form-group">
        <%= f.label :place, '調査場所*' %>
        <%= f.text_field :place, :class=>"form-control" %>
      </div> 

      <div class="form-group">
        <%= f.label :investigator_pre_survey, '調査機関（事前調査）：' %>
        <%= f.collection_select :investigator_pre_survey, Choice.where(category: "調査機関"), :name, :name, :prompt => "選択してください" %>
      </div>
      <div class="form-group">
        <%= f.label :investigator_ongoing_survey, '調査機関（事中調査）：' %>
        <%= f.collection_select :investigator_ongoing_survey, Choice.where(category: "調査機関"), :name, :name, :prompt => "選択してください" %>
      </div>
      <div class="form-group">
        <%= f.label :investigator_after_survey, '調査機関（事後調査）：' %>
        <%= f.collection_select :investigator_after_survey, Choice.where(category: "調査機関"), :name, :name, :prompt => "選択してください" %>
      </div>
      
      <%= f.submit '登録', :class=>"btn btn-primary" %>
    <% end %>
  </div>
</div>