<p><input type="button" value="一括ダウンロード" id="batch" class="btn btn-primary" onclick="multi_download()"></p>

<% @houses.each do |house|
  sonsyos = house.sonsyos 
  keisyas = house.keisyas
  points = house.points

  sonsyos.each do |sonsyo|
    damage = sonsyo.damages.find_by(survey_type: survey_type)
    
    if damage.image1.present?
%>
      <!-- 写真 -->
      <%= render 'damages/photo_with_wb', { house: house, sonsyo: sonsyo, damage: damage } %>
<% 
    end # END OF if damage.image1.present?
  end # END OF sonsyos.each do |sonsyo|
%>
  <!-- 
  
    傾斜↓
  
  -->
  <% keisyas.each do |keisya|
    slope = keisya.slopes.find_by(survey_type: survey_type)
    if slope.image1.present?
  %>
      <!-- 写真 -->
      <%= render 'slopes/photo_with_wb', { house: house, keisya: keisya, slope: slope } %>
  <% 
    end # END OF if slope.image1.present?
  end # END OF keisyas.each do |keisya|
  %>
  <!-- 
  
    測点↓
  
  -->        
  <% points.each do |point|
    post = point.posts.find_by(survey_type: survey_type)
    if post.image1.present?
  %>
      <!-- 写真 -->
      <%= render 'posts/photo_with_wb', { house: house, point: point, post: post } %>
<% 
    end # END OF if post.image1.present?
  end # END OF points.each do |point|
end
%>

<script>
function handleDownload(path, name) {
  // IE
  if (window.navigator.msSaveBlob) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "cgi-bin/sample.py?f="+path, true);
      xhr.responseType = "blob";
      xhr.onload = function (e) {
          var blob = xhr.response;
          window.navigator.msSaveBlob(blob, path);
      }
      xhr.send();
      return;
  }
  
  // chrome,firefox
  var a = document.createElement('a');
  a.download = name;
  //a.href = "cgi-bin/sample.py?f="+path;
  a.href = path;  
  
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
  return;
}
function multi_download() {
  <% @houses.each do |house|
    sonsyos = house.sonsyos 
    keisyas = house.keisyas
    points = house.points

    sonsyos.each do |sonsyo|
      damage = sonsyo.damages.find_by(survey_type: survey_type)
      if damage.image1.present? 
  %>
        var img = document.getElementById("sonsyo-<%= sonsyo.id %>_img");
        var client_w = img.clientWidth;
        var client_h = img.clientHeight;
        
        html2canvas(document.querySelector("#sonsyo-<%= sonsyo.id %>"), {proxy: true, useCORS: true, width:client_w, height: client_h}).then(canvas => {
          var canvasData = canvas.toDataURL("image/jpeg");
          var canvasName = "damage_<%= damage.id %>_<%= survey_type %>";
          
          console.log(canvasData);
          
          handleDownload(canvasData, canvasName);
        });
  <% 
      end # END OF if damage.image1.present?
    end # END OF sonsyos.each do |sonsyo| 
    
    keisyas.each do |keisya|
      slope = keisya.slopes.find_by(survey_type: survey_type)
      if slope.image1.present?  
  %>
        var img = document.getElementById("keisya-<%= keisya.id %>_img");
        var client_w = img.clientWidth;
        var client_h = img.clientHeight;
        
        html2canvas(document.querySelector("#keisya-<%= keisya.id %>"), {proxy: true, useCORS: true, width:client_w, height: client_h}).then(canvas => {
          var canvasData = canvas.toDataURL("image/jpeg");
          var canvasName = "slope_<%= slope.id %>_<%= survey_type %>";     
          handleDownload(canvasData, canvasName);
        });
  <% 
      end # END OF if slope.image1.present?
    end # END OF keisyas.each do |keisya| 
    
    points.each do |point|
      post = point.posts.find_by(survey_type: survey_type)
      if post.image1.present?  
  %>
        var img = document.getElementById("point-<%= point.id %>_img");
        var client_w = img.clientWidth;
        var client_h = img.clientHeight;
        
        html2canvas(document.querySelector("#point-<%= point.id %>"), {proxy: true, useCORS: true, width:client_w, height: client_h}).then(canvas => {
          var canvasData = canvas.toDataURL("image/jpeg");
          var canvasName = "post_<%= post.id %>_<%= survey_type %>";     
          handleDownload(canvasData, canvasName);
        });  
  <% 
      end # END OF if point.image1.present?
    end # END OF points.each do |point|   
  end
  %>
}
</script>