<ol class="breadcrumb">
  <li class="active">HOME</li>
</ol>


<h2>案件一覧</h2>
<p><%= link_to '新規登録', new_investigation_path, :class=>"btn btn-primary" %></p>

<table class="table table-striped table-hover">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">調査内容</th>
    <th class="text-center">工事名</th>
    <th class="text-center">施工者</th>
    <th class="text-center">調査場所</th>
    <th class="text-center">調査機関</th>
    <th class="text-center"></th>
    <th class="text-center"></th>
  </tr>
  
  <% @investigations.each do |investigation| %>
      <tr>
        <td class="text-center align-middle"><%= investigation.id %></td>
        <td class="text-center align-middle"><%= investigation.content %></td>
        <td class="text-center align-middle"><%= investigation.construction_name %></td>
        <td class="text-center align-middle"><%= investigation.builder %></td>
        <td class="text-center align-middle"><%= investigation.place %></td>
        <td class="text-center align-middle"><%= investigation.investigator %></td>
        <td class="text-center align-middle"><%= link_to "詳細", investigation, :class=>"btn btn-default" %></td>
        <td class="text-center align-middle"><%= link_to "削除", investigation, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
      </tr>
  <% end %>
</table>

