<div class="book">
  <%= render 'investigations/pages/common_css' %>  
  <%= render 'investigations/pages/hyoshi', survey_type: '事後' %>
  <%= render 'investigations/pages/after/chosahokokusyo' %>
  <!-- コメントアウト -->
  <% if false %>  
    <%= render 'investigations/pages/after/chosakuikiitizu' %>
    <%= render 'investigations/pages/after/chosakuikiheimenzu1' %>
    <%= render 'investigations/pages/after/chosakuikiheimenzu2' %>
  <% end %>
  <!-- コメントアウト -->
  <%= render 'investigations/pages/tatemonochosaichiranhyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事後' %>
  <%= render 'investigations/pages/hyoshi_resident', survey_type: '事後' %>
  <%= render 'investigations/pages/kaokuchosasyodakusyo', survey_type: '事後' %>
  <%= render 'investigations/pages/sonsyochosasyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事後' %>  
  <%= render 'investigations/pages/tatemonokeisyasokuteikekkahyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事後' %>
  <%= render 'investigations/pages/tatemonosuijyunsokuryokekkahyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事後' %>
</div>