<div class="book">
  <%= render 'investigations/pages/common_css' %>
  <%= render 'investigations/pages/hyoshi', survey_type: '事前' %>
  <%= render 'investigations/pages/pre/chosahokokusyo' %>
  
  <% if false %><!-- コメントアウト -->
    <%= render 'investigations/pages/pre/chosakuikiitizu' %>
    <%= render 'investigations/pages/pre/chosakuikiheimenzu1' %>
    <%= render 'investigations/pages/pre/chosakuikiheimenzu2' %>
  <% end %><!-- コメントアウト -->
  
  <%= render 'investigations/pages/tatemonochosaichiranhyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事前' %>
  <%= render 'investigations/pages/hyoshi_resident', survey_type: '事前' %>
  <%= render 'investigations/pages/kaokuchosasyodakusyo', survey_type: '事前' %>
  <%= render 'investigations/pages/sonsyochosasyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事前' %>
  <%= render 'investigations/pages/tatemonokeisyasokuteikekkahyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事前' %>
  <%= render 'investigations/pages/tatemonosuijyunsokuryokekkahyo', survey_type_1: '事前', survey_type_2: '事後', survey_type_main: '事前' %>
</div>