<div class="book">
  <%= render 'investigations/pages/common_css' %>  
  <%= render 'investigations/pages/hyoshi', survey_type: '事中' %>
  <%= render 'investigations/pages/ongoing/chosahokokusyo' %>
  <!-- コメントアウト -->
  <% if false %>  
    <%= render 'investigations/pages/ongoing/chosakuikiitizu' %>
    <%= render 'investigations/pages/ongoing/chosakuikiheimenzu1' %>
    <%= render 'investigations/pages/ongoing/chosakuikiheimenzu2' %>
  <% end %>
  <!-- コメントアウト -->
  <%= render 'investigations/pages/tatemonochosaichiranhyo', survey_type_1: '事前', survey_type_2: '事中', survey_type_main: '事中' %>
  <%= render 'investigations/pages/hyoshi_resident', survey_type: '事中' %>
  <%= render 'investigations/pages/kaokuchosasyodakusyo', survey_type: '事中' %>
  <%= render 'investigations/pages/sonsyochosasyo', survey_type_1: '事前', survey_type_2: '事中', survey_type_main: '事中' %>  
  <%= render 'investigations/pages/tatemonokeisyasokuteikekkahyo', survey_type_1: '事前', survey_type_2: '事中', survey_type_main: '事中' %>
  <%= render 'investigations/pages/tatemonosuijyunsokuryokekkahyo', survey_type_1: '事前', survey_type_2: '事中', survey_type_main: '事中' %>
</div>