<% @houses.each do |house| %>
  <div class="page">
    <table class="table table-bordered" style="font-size:10px;">
      <tr>
        <td colspan="11">建物傾斜測定結果表</td>
        <td>建物No.<%= house.house_number %></td>
      </tr>
      <tr>
        <td rowspan="2">傾斜種類</td>
        <td rowspan="2">測点</td>
        <td rowspan="2">測定箇所</td>
        <td colspan="4">事前測定値（mm）</td>
        <td colspan="4">事中測定値（mm）</td>
        <td rowspan="2">備考</td>
      </tr>
      <tr>
        <td colspan="2">東西方向</td>
        <td colspan="2">南北方向</td>
        <td colspan="2">東西方向</td>
        <td colspan="2">南北方向</td>          
      </tr>
      
      <% keisyas = house.keisyas %>
      <% keisyas.each do |keisya| %>
        <% pre_slope = keisya.slopes.find_by(survey_type: "pre") %>
        <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
        <tr>
          <% if pre_slope.suichokukeisya == true %>
            <td>垂直傾斜</td>
          <% elsif pre_slope.suiheikeisya == true %>
            <td>水平傾斜</td>
          <% else %>
            <td></td>
          <% end %>

          <td><%= disp_alphabet(keisya.number) %></td>
          <td><%= keisya.room_name %></td>
          
          <% if pre_slope.east != 0.0 %>
            <td>東</td>
            <td><%= pre_slope.east %></td>
          <% elsif pre_slope.west != 0.0 %>
            <td>西</td>
            <td><%= pre_slope.west %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          
          <% if pre_slope.north != 0.0 %>
            <td>北</td>
            <td><%= pre_slope.north %></td>
          <% elsif pre_slope.south != 0.0 %>
            <td>南</td>
            <td><%= pre_slope.south %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>

          <% if ongoing_slope.east != 0.0 %>
            <td>東</td>
            <td><%= ongoing_slope.east %></td>
          <% elsif ongoing_slope.west != 0.0 %>
            <td>西</td>
            <td><%= ongoing_slope.west %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          
          <% if ongoing_slope.north != 0.0 %>
            <td>北</td>
            <td><%= ongoing_slope.north %></td>
          <% elsif ongoing_slope.south != 0.0 %>
            <td>南</td>
            <td><%= ongoing_slope.south %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>

          <% if pre_slope.east == ongoing_slope.east &&
                pre_slope.west == ongoing_slope.west &&
                pre_slope.north == ongoing_slope.north &&
                pre_slope.south == ongoing_slope.south %>
            <td>変化なし</td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p>※測定値については±1mmの範囲で測定誤差が生じる場合があります。</p>
  </div>
  

  <% num = 0 %>
  <% while num < keisyas.length do %>
    <div class="page">
      <table class="table table-bordered" style="font-size:10px;">
        <% keisya = keisyas[num] %>
        <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
        <% if ongoing_slope != nil %>
          <% num = num + 1 %>
          <tr>
            <td style="height: 30%;">
              <!-- 写真 -->
              <%= render 'slopes/photo_with_wb', { house: house, keisya: keisya, slope: ongoing_slope } %>
            </td>
            <td style="min-width: 130px;">傾斜：<%= disp_alphabet(keisya.number) %></td>
          </tr>
        <% end %>
        <% if num < keisyas.length %>      
          <% keisya = keisyas[num] %>
          <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
          <% if ongoing_slope != nil %>
            <% num = num + 1 %>
            <tr>
              <td style="height: 30%;">
                <!-- 写真 -->
                <%= render 'slopes/photo_with_wb', { house: house, keisya: keisya, slope: ongoing_slope } %>
              </td>
              <td style="min-width: 130px;">傾斜：<%= disp_alphabet(keisya.number) %></td>
            </tr>
          <% end %>
        <% end %>
        <% if num < keisyas.length %>      
          <% keisya = keisyas[num] %>
          <% ongoing_slope = keisya.slopes.find_by(survey_type: "ongoing") %>
          <% if ongoing_slope != nil %>
            <% num = num + 1 %>
            <tr>
              <td style="height: 30%;">
                <!-- 写真 -->
                <%= render 'slopes/photo_with_wb', { house: house, keisya: keisya, slope: ongoing_slope } %>
              </td>
              <td style="min-width: 130px;">傾斜：<%= disp_alphabet(keisya.number) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %><!-- while num < points.length do -->
<% end %>