<div class="container">
  <%= form_for(@slope) do |f| %>
    <%= f.hidden_field :keisya_id, :value => @keisya.id %>
    <%= f.hidden_field :survey_type, :value => @slope.survey_type %>
  
    <div class="row">
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'user' %>
      </div>
      <div class="col-xs-6">
        <%= f.submit '登録', :class=>"btn btn-primary", :id=>"submit", method: :delete, data: { confirm: '登録してよろしいでしょうか？' } %>
      </div>
    </div>
    
    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_slope.image1? %>
          <%= image_tag "bg_img.jpg", class:"previewImg" %>
        <% else %>
          <%= image_tag @preview_slope.image1, class:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="keisya-<%= @keisya.id %>">
        <canvas id="liveview"></canvas>
        <input type="hidden" name="canvas_data" id="canvas_data">
      </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
      <div class="switch_set">
        <%= f.check_box :suichokukeisya, {}, "true", "false" %><%= f.label :suichokukeisya, '垂直傾斜', :onclick => 'onclick_suichoku()' %>
        <%= f.check_box :suiheikeisya, {}, "true", "false" %><%= f.label :suiheikeisya, '水平傾斜', :onclick => 'onclick_suihei()' %>
      </div>
    </div>
        
    <div class="form-group">
      東：<%= f.text_field :east %>&nbsp;&nbsp;&nbsp;&nbsp;
      西：<%= f.text_field :west %>&nbsp;&nbsp;&nbsp;&nbsp;
      南：<%= f.text_field :south %>&nbsp;&nbsp;&nbsp;&nbsp;
      北：<%= f.text_field :north %>
    </div>
        
    <div class="form-group">
      <%= f.label :comment, 'コメント(最大24文字)' %>
      <%= f.text_area :comment, :class=>"form-control", maxlength: 24 %>
    </div>
  <% end %>
</div>

<style>
.photosArea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photosArea .previewImg {
  width: 100%;
}
</style>

<script>
// グローバル変数
var canvas = document.getElementById('liveview');
var ctx = canvas.getContext('2d');
var img = new Image();
var reader = new FileReader();

$('#slope_image1').on('change', function (e) {
  reader.onload = function (e) {
    img.src = e.target.result;
    // iPad 第6世代
    //img.width = 3264;
    //img.height = 2448;

    img.onload = function() {
      // 画像サイズ取得
      var imgW = img.width;
      var imgH = img.height;
      // プレビュー画像の幅取得
      var previewImgW = $('.previewImg').width();
      // 拡縮率の計算
      var rate = previewImgW / imgW;    
      
      // 画像ファイルの横幅に拡縮率を掛け、canvasのサイズにセット
      canvas.width = imgW * rate * 4;      // 高画質化のため、4倍に
      canvas.height = imgH * rate * 4;     // 高画質化のため、4倍に
      // 画像を canvas に表示
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      // スタイルを設定
      canvas.style.width = String(imgW * rate) + "px";
      canvas.style.height = String(imgH * rate) + "px";
    }
  }
  reader.readAsDataURL(e.target.files[0]);
});

// 垂直傾斜ボタン押下
function onclick_suichoku(){
  var suihei_checkbox = document.getElementsByName("slope[suiheikeisya]");
  
  if(suihei_checkbox[1].checked == true){
    suihei_checkbox[1].checked = false;
  }
}
// 水平傾斜ボタン押下
function onclick_suihei(){
  var suichoku_checkbox = document.getElementsByName("slope[suichokukeisya]");
  
  if(suichoku_checkbox[1].checked == true){
    suichoku_checkbox[1].checked = false;
  }
}

$('#submit').on('mousedown', function (e) {
  // canvasの画像化
  var canvas_data = canvas.toDataURL('image/jpeg');
  $("#canvas_data").val(canvas_data);
});
</script>