<div class="container">
  <%= form_for @slope, :html => { :onsubmit => "imagingAtCanvas()" } do |f| %>
    <%= f.hidden_field :keisya_id, :value => @keisya.id %>
    <%= f.hidden_field :survey_type, :value => @slope.survey_type %>

    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_slope.image1? %>
          <%= image_tag "bg_img.jpg", id:"previewImg" %>
        <% else %>
          <%= image_tag @preview_slope.image1, id:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="keisya-<%= @keisya.id %>">
        <canvas id="liveview"></canvas>
        <input type="hidden" name="canvas_data">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-6" style="text-align: center;">
        <%= f.submit '登録', :disabled=>"true", :class=>"btn btn-primary", :id=>"submit", data: { confirm: '登録してよろしいでしょうか？' } %>
        <button type="button" id="return" class="btn btn-default">戻る</button>
      </div>
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'environment' %>
      </div>
    </div>
    
    <div class="form-group" style="margin-top: 20px;">
      <div class="switch_set">
        <%= f.check_box :suichokukeisya, {}, "true", "false" %><%= f.label :suichokukeisya, '垂直傾斜', :onclick => 'onclick_suichoku()' %>
        <%= f.check_box :suiheikeisya, {}, "true", "false" %><%= f.label :suiheikeisya, '水平傾斜', :onclick => 'onclick_suihei()' %>
      </div>
    </div>
        
    <div class="form-group">
      <p>東：<%= f.text_field :east %>&nbsp;&nbsp;&nbsp;&nbsp;西：<%= f.text_field :west %></p>
      </p>南：<%= f.text_field :south %>&nbsp;&nbsp;&nbsp;&nbsp;北：<%= f.text_field :north %></p>
    </div>
        
    <div class="form-group">
      <%= f.label :comment, 'コメント(最大24文字)' %>
      <%= f.text_area :comment, :class=>"form-control", maxlength: 24 %>
    </div>
  <% end %>
</div>

<%= render 'layouts/common_css_for_takephoto' %>

<script>
// グローバル変数
var canvas = document.getElementById('liveview');
var ctx = canvas.getContext('2d');
var img = new Image();
var reader = new FileReader();

// 入力欄の有効(false)・無効化(true)操作
function inputAreaDisable(flag) {
  $("#slope_suichokukeisya, #slope_suiheikeisya").prop("disabled", flag); // 垂直・水平（チェックボックス）
  $("#slope_east, #slope_west, #slope_south, #slope_north").prop("readonly", flag); // 東西南北（テキスト）
  $("#slope_comment").prop("readonly", flag); // コメント欄（テキスト）
}

// 戻るボタン
document.querySelector("#return").addEventListener("click", () => {
  // 登録ボタンを無効化
  $("#submit").prop("disabled", true);
  // 入力欄を有効化
  inputAreaDisable(false);  
  // ファイル選択を初期化  
  $('#damage_image1').val('');
  // liveview上の画像をクリア
  ctx.clearRect(0, 0, canvas.width, canvas.height);
});

<%= render 'layouts/common_js_for_takephoto', selector: "slope_image1" %>

// 垂直傾斜ボタン押下
function onclick_suichoku(){
  if($("#slope_suichokukeisya").prop('disabled') == false){
    var suihei_checkbox = document.getElementsByName("slope[suiheikeisya]");
  
    if(suihei_checkbox[1].checked == true){
      suihei_checkbox[1].checked = false;
    }
  }
}
// 水平傾斜ボタン押下
function onclick_suihei(){
  if($("#slope_suiheikeisya").prop('disabled') == false){  
    var suichoku_checkbox = document.getElementsByName("slope[suichokukeisya]");
    
    if(suichoku_checkbox[1].checked == true){
      suichoku_checkbox[1].checked = false;
    }
  }
}
</script>