<table class="table table-bordered table-condensed" style="background-color: white; margin-bottom: 0px; width:200px;">
  <tr>
    <td>工事名</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= house.investigation.construction_name %>
      </div>
    </td>
  </tr>
  <tr>
    <td>調査日</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= slope.updated_at.strftime('%Y/%m/%d') %>
      </div>  
    </td>
  </tr>
  <tr>
    <td>家屋名</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= house.house_name %>
      </div>
    </td>
  </tr>
  <tr>
    <td>家屋No.</td>
    <td>
      <div style="height:12px; overflow:hidden;">
        <%= house.house_number %>
      </div>  
    </td>
    <td>写真No.</td>
    <td colspan="2">
      <div style="height:12px; overflow:hidden;">
        <%= disp_alphabet(keisya.number) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>調査箇所</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <% if keisya.room_name == "その他" %>
          <%= keisya.room_name_other %>
        <% else %>
          <%= keisya.room_name %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <div style="height:12px; overflow:hidden;">
        <% if slope.suichokukeisya == true %>垂直傾斜 <% end %>
        <% if slope.suiheikeisya == true %>水平傾斜 <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <div style="height:12px; overflow:hidden;">
        <% if slope.east != 0.0 %>東：<%= slope.east %><% end %>
        <% if slope.west != 0.0 %>西：<%= slope.west %><% end %>
        <% if slope.south != 0.0 %>南：<%= slope.south %><% end %>
        <% if slope.north != 0.0 %>北：<%= slope.north %><% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td>コメント</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= slope.comment %>
      </div>
    </td>
  </tr>
</table>