<% 
  survey_type = @slope.survey_type
  if survey_type == "pre"
    survey_type_name = "事前調査"
  elsif survey_type == "ongoing"
    survey_type_name = "事中調査"
  elsif survey_type == "after"
    survey_type_name = "事後調査"
  else
    survey_type_name = "その他"
  end
%>

<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active"><%= disp_alphabet(@keisya.number) %>（<%= survey_type_name %>）</li>
</ol>

<h2 class="text-center">傾斜：<%= disp_alphabet(@keisya.number) %>の撮影（<%= survey_type_name %>）</h2>
<%= link_to '編集', edit_slope_path(keisya_id: @keisya.id, survey_type: survey_type), :class=>"btn btn-primary" %>
<!-- 写真 -->
<div id="sonsyo-<%= @keisya.id %>" class="post-img">
  <%= image_tag @slope.image3, id: "sonsyo-" + @keisya.id.to_s + "_img" %>
</div>

<style>
.post-img {
  position: relative;
  margin-top:10px;
  margin-bottom: 20px;
  width: 70%;
/*  
  max-width: 715px /* =1430/2 *
  max-height: 537px; /* =1074/2 *
*/  
}
.post-img img {
  width: 100%;
}
.whiteboard {
  background-color: white;
  margin-bottom: 0px;
  font-size: 10px;
}
</style>