<% 
  survey_type = @slope.survey_type
  if survey_type == "pre"
    survey_type_name = "事前調査"
  elsif survey_type == "ongoing"
    survey_type_name = "事中調査"
  elsif survey_type == "after"
    survey_type_name = "事後調査"
  else
    survey_type_name = "その他"
  end
  
  position_wb = @slope.position_wb
  if position_wb == 0
    position_wb_name = "左"
  elsif position_wb == 1
    position_wb_name = "左上"
  elsif position_wb == 2
    position_wb_name = "上"
  elsif position_wb == 3
    position_wb_name = "右上"
  elsif position_wb == 4
    position_wb_name = "右"
  elsif position_wb == 5
    position_wb_name = "右下"
  elsif position_wb == 6
    position_wb_name = "下"
  elsif position_wb == 7
    position_wb_name = "左下"
  else
    position_wb_name = "その他"
  end  
%>

<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active"><%= disp_alphabet(@keisya.number) %>（<%= survey_type_name %>）</li>
</ol>

<h2 class="text-center">傾斜：<%= disp_alphabet(@keisya.number) %>の撮影（<%= survey_type_name %>）</h2>
<%= link_to '編集', edit_slope_path(keisya_id: @keisya.id, survey_type: survey_type), :class=>"btn btn-primary" %>

<table style="margin-top:10px;">
  <tr>
    <td><%= image_tag @slope.image1 %></td>
    <td>
      <table class="table table-bordered" style="margin:10px;">
        <tr>
          <td>調査日</td>
          <td style="min-width: 350px;" colspan="7"><%= @slope.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>家屋名</td>
          <td colspan="7"><%= @house.house_name %></td>
        </tr>
        <tr>
          <td>家屋No.</td>
          <td colspan="3"><%= @house.id %></td>
          <td>写真No.</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>調査箇所</td>
          <td colspan="7"><%= @keisya.room_name %></td>
        </tr>
        <tr>
          <td colspan="8">
            <%= form_for(@slope) do |f| %>
              <div class="form-group"  style="margin-top: 20px;">
                <div class="switch_set disabled">
                  <%= f.check_box :suichokukeisya, {}, "true", "false" %><%= f.label :suichokukeisya, '垂直傾斜' %>
                  <%= f.check_box :suiheikeisya, {}, "true", "false" %><%= f.label :suiheikeisya, '水平傾斜' %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>東</td>
          <td><%= @slope.east %></td>
          <td>西</td>
          <td><%= @slope.west %></td>
          <td>南</td>
          <td><%= @slope.south %></td>
          <td>北</td>
          <td><%= @slope.north %></td>          
        </tr>
        <tr>
          <td>コメント</td>
          <td colspan="7"><%= @slope.comment %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>