<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li class="active">マスター一覧</li>
</ol>

<h2>マスター一覧</h2>
<p><%= link_to '新規マスター登録', new_choice_path, :class=>"btn btn-primary" %></p>

<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>マスター名</th>
    <th>カテゴリー</th>
    <th></th>
    <% if current_user.role == "superuser" || current_user.role == "admin" %>
      <th></th>
    <% end %>
  </tr>
  
  <% @choices.each do |choice| %>
      <tr>
        <td class="align-middle"><%= choice.id %></td>
        <td class="align-middle"><%= choice.name %></td>
        <td class="align-middle"><%= disp_choice_category(choice.category) %></td>
        <td class="align-middle"><%= link_to "編集", edit_choice_path(choice.id), :class=>"btn btn-default" %></td>
        <% if current_user.role == "superuser" || current_user.role == "admin" %>
          <td class="align-middle"><%= link_to "削除", choice, :class=>"btn btn-danger", method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>

