<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  
  <% if current_user.role == "superuser" %>
    <li><%= link_to 'ユーザー一覧', users_path %></li>
  <% end %>
  
  <li class="active"><%= @user.email %>の編集</li>
</ol>


<h2 class="text-center"><%= @user.email %>の編集</h2>

<%= render 'users/form' %>