<div class="container">
  <%= form_for(@damage) do |f| %>
    <%= f.hidden_field :sonsyo_id, :value => @sonsyo.id %>
    <%= f.hidden_field :survey_type, :value => @damage.survey_type %>
    
    <div class="row">
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'camera' %>
      </div>
      <div class="col-xs-6">
        <%= f.submit '登録', :class=>"btn btn-primary", :id=>"submit", method: :delete, data: { confirm: '登録してよろしいでしょうか？' } %>    
      </div>
    </div>
    
    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_damage.image1? %>
          <%= image_tag "bg_img.jpg", class:"previewImg" %>
        <% else %>
          <%= image_tag @preview_damage.image1, class:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="sonsyo-<%= @sonsyo.id %>">
        <canvas id="liveview"></canvas>
      </div>
    </div>
  <% end %>
</div>

<style>
.photosArea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photosArea .previewImg {
  width: 100%;
}
</style>

<script>
  // グローバル変数
  var canvas = document.getElementById('liveview');
  var ctx = canvas.getContext('2d');
  var canvasWidth, canvasHeight;
  var img = new Image();
  var reader = new FileReader();
  
  $('#damage_image1').on('change', function (e) {
    reader.onload = function (e) {
      img.src = e.target.result;

      img.onload = function() {
        // 画像サイズ取得
        var imgW = img.width;
        var imgH = img.height;
        // プレビュー画像の幅取得
        var previewImgW = $('.previewImg').width();
        // 拡縮率の計算
        var rate = previewImgW / imgW;
        
        // 画像ファイルの横幅に拡縮率を掛け、canvasのサイズにセット
        canvas.width = imgW * rate;
        canvas.height = imgH * rate;
        // 画像を canvas に表示
        ctx.drawImage(img, 0, 0, imgW * rate, imgH * rate);
      }
    }
    reader.readAsDataURL(e.target.files[0]);
  });

  $('#submit').on('mousedown', function (e) {
    // 画像化
//    var canvas_data = canvas.toDataURL('image/jpg');

//    $("#damage_image1").val(""); //画像データを二重に送信するのを防ぐ
//    $("#damage_image_url").val(canvas_data);
  });
</script>