<div class="container">
  <%= form_for @damage, :html => { :onsubmit => "imagingAtCanvas()" } do |f| %>
    <%= f.hidden_field :sonsyo_id, :value => @sonsyo.id %>
    <%= f.hidden_field :survey_type, :value => @damage.survey_type %>
    
    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_damage.image1? %>
          <%= image_tag "bg_img.jpg", id:"previewImg" %>
        <% else %>
          <%= image_tag @preview_damage.image1, id:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="sonsyo-<%= @sonsyo.id %>">
        <canvas id="liveview"></canvas>
        <input type="hidden" name="canvas_data">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6" style="text-align: center;">
        <%= f.submit '登録', :disabled=>"true", :class => "btn btn-primary", :id => "submit", data: { confirm: '登録してよろしいでしょうか？' } %>
        <button type="button" id="return" class="btn btn-default">戻る</button>
      </div>
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'environment' %>
      </div>
    </div>
    
    <% if @sonsyo.room_name != "全景" %>
      <div class="form-group" style="margin: 30px 10px;">
        <%= f.label :tekiyo, '選択中の適用' %>
        <%= f.text_field :tekiyo, :readonly=> true, :class=>"form-control" %><!-- 選択した順番に適用を表記 -->
        <br>
        
        <div class="switch_set">
          <% $TEKIYO_LIST.each do |t| %>
            <input name="<%= t[1] %>" type="hidden" value="false">          
            <input type="checkbox" value="true" name="<%= t[1] %>" id="<%= t[1] %>">
            <label for="<%= t[1] %>"><%= t[0] %></label>
          <% end %>
        </div>
        
        <input type="text" id="other" name="other" placeholder="その他" size="20" style="margin-top: 10px;">
      </div>

      <div style="margin: 40px 0;">
        <div class="form-group">
          <p>面積：<%= f.text_field :width %>&nbsp;cm&nbsp;&nbsp;×&nbsp;&nbsp;<%= f.text_field :height %>&nbsp;cm</p>
          <p>幅：<%= f.text_field :wide %>&nbsp;mm</p>
          <!-- <p>幅：<input id="damage_wide" type="number" step="0.01" name="damage[wide]">&nbsp;mm</p> -->
        </div>
        <div class="form-group">
          長さ：&nbsp;<label><%= f.check_box :amimejyo, {}, "true", "false" %>網目状</label>&nbsp;&nbsp;
          <label><%= f.check_box :zencho, {}, "true", "false" %>全長</label>&nbsp;&nbsp;
          <label><%= f.check_box :zenshu, {}, "true", "false" %>全周</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :length %>&nbsp;cm</span>
        </div>
      </div>      
      
      <div style="margin: 40px 0;">
        <div class="form-group">
          <p>面積：<%= f.text_field :width2 %>&nbsp;cm&nbsp;&nbsp;×&nbsp;&nbsp;<%= f.text_field :height2 %>&nbsp;cm</p>
          <p>幅：<%= f.text_field :wide2 %>&nbsp;mm</p>
          <!-- <p>幅：<input id="damage_wide" type="number" step="0.01" name="damage[wide]">&nbsp;mm</p> -->
        </div>
        <div class="form-group">
          長さ：&nbsp;<label><%= f.check_box :amimejyo2, {}, "true", "false" %>網目状</label>&nbsp;&nbsp;
          <label><%= f.check_box :zencho2, {}, "true", "false" %>全長</label>&nbsp;&nbsp;
          <label><%= f.check_box :zenshu2, {}, "true", "false" %>全周</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :length2 %>&nbsp;cm</span>
        </div>
      </div>      
      
      <div class="form-group">
        <%= f.label :comment, 'コメント(最大24文字)' %>
        <%= f.text_area :comment, :class=>"form-control", maxlength: 24 %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'layouts/common_css_for_takephoto' %>

<script>
// グローバル変数
var canvas = document.getElementById('liveview');
var ctx = canvas.getContext('2d');
var img = new Image();
var reader = new FileReader();

// 戻るボタン
document.querySelector("#return").addEventListener("click", () => {
  // 登録ボタンを無効化
  $("#submit").prop("disabled", true);
  // 入力欄を有効化
  //inputAreaDisable(false);

  // 適用「その他」欄に記載の文言を末尾から削除
  var original_val = $('#damage_tekiyo').val();
  var other = $('#other').val();
  $('#damage_tekiyo').val(original_val.replace(other, ""));
  
  // ファイル選択を初期化  
  $('#damage_image1').val('');
  // liveview上の画像をクリア
  ctx.clearRect(0, 0, canvas.width, canvas.height);
});

<%= render 'layouts/common_js_for_takephoto', selector: "damage_image1" %>

//************ 適用を選択順に表記 ************//
<% $TEKIYO_LIST.each do |t| %>
  $('#<%= t[1] %>').on('click', function(e){
    var original_val = $('#damage_tekiyo').val();
    
    if($(this).prop('checked') == true) {
      $('#damage_tekiyo').val(original_val + "<%= t[0] %> ");
    } else {
      $('#damage_tekiyo').val(original_val.replace("<%= t[0] %> ", ""));
    }
  });
<% end %>
</script>