<div class="container">
  <%= form_for @damage, :html => { :onsubmit => "imagingAtCanvas()" } do |f| %>
    <%= f.hidden_field :sonsyo_id, :value => @sonsyo.id %>
    <%= f.hidden_field :survey_type, :value => @damage.survey_type %>
    
    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_damage.image1? %>
          <%= image_tag "bg_img.jpg", class:"previewImg" %>
        <% else %>
          <%= image_tag @preview_damage.image1, class:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="sonsyo-<%= @sonsyo.id %>">
        <canvas id="liveview"></canvas>
        <input type="hidden" name="canvas_data">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6" style="text-align: center;">
        <%= f.submit '登録', :disabled=>"true", :class => "btn btn-primary", :id => "submit", data: { confirm: '登録してよろしいでしょうか？' } %>
        <button type="button" id="return" class="btn btn-default">戻る</button>
      </div>
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'environment' %>
      </div>
    </div>
    
    <% if @sonsyo.room_name != "全景" %>
      <%= f.hidden_field :tekiyo %><!-- 選択した順番に適用を表記 -->
      <div class="form-group" style="margin: 30px 0;">
        
        <div class="switch_set">
          <input name="damage[genkyo]" type="hidden" value="false">          
          <input type="checkbox" value="true" name="damage[genkyo]" id="damage_genkyo">
          <label for="damage_genkyo">現況</label>
          
          <input name="damage[crack]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[crack]" id="damage_crack">
          <label for="damage_crack">クラック</label>
          
          <input name="damage[chirigire]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[chirigire]" id="damage_chirigire">
          <label for="damage_chirigire">チリ切れ</label>
          
          <input name="damage[hosyuzumi]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[hosyuzumi]" id="damage_hosyuzumi">
          <label for="damage_hosyuzumi">補修済</label>      
          
          <input name="damage[kaisouzumi]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kaisouzumi]" id="damage_kaisouzumi">
          <label for="damage_kaisouzumi">改装済</label>          
          
          <input name="damage[sukima]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[sukima]" id="damage_sukima">
          <label for="damage_sukima">隙間</label>

          <input name="damage[ware]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[ware]" id="damage_ware">
          <label for="damage_ware">割れ</label>

          <input name="damage[hason]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[hason]" id="damage_hason">
          <label for="damage_hason">破損</label>

          <input name="damage[uki]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[uki]" id="damage_uki">
          <label for="damage_uki">浮き</label>

          <input name="damage[kake]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kake]" id="damage_kake">
          <label for="damage_kake">欠け</label>

          <input name="damage[tawami]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[tawami]" id="damage_tawami">
          <label for="damage_tawami">タワミ</label>

          <input name="damage[kire]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kire]" id="damage_kire">
          <label for="damage_kire">切れ</label>
          
          <input name="damage[kosure]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kosure]" id="damage_kosure">
          <label for="damage_kosure">コスレ</label>          
          
          <input name="damage[kishimi]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kishimi]" id="damage_kishimi">
          <label for="damage_kishimi">キシミ</label>
          
          <input name="damage[kudari]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kudari]" id="damage_kudari">
          <label for="damage_kudari">下り</label>          
          
          <input name="damage[hakuri]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[hakuri]" id="damage_hakuri">
          <label for="damage_hakuri">剥離</label>      
          
          <input name="damage[shimiato]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[shimiato]" id="damage_shimiato">
          <label for="damage_shimiato">シミ跡</label>             
          
          <input name="damage[hosyuato]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[hosyuato]" id="damage_hosyuato">
          <label for="damage_hosyuato">補修跡</label>
          
          <input name="damage[hakka]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[hakka]" id="damage_hakka">
          <label for="damage_hakka">白華</label>
          
          <input name="damage[ketsuraku]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[ketsuraku]" id="damage_ketsuraku">
          <label for="damage_ketsuraku">欠落</label>
          
          <input name="damage[furoku]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[furoku]" id="damage_furoku">
          <label for="damage_furoku">不陸</label>          
          
          <input name="damage[meji]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[meji]" id="damage_meji">
          <label for="damage_meji">目地</label>
          
          <input name="damage[tile]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[tile]" id="damage_tile">
          <label for="damage_tile">タイル</label>
          
          <input name="damage[cross]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[cross]" id="damage_cross">
          <label for="damage_cross">クロス</label>
          
          <input name="damage[tategu]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[tategu]" id="damage_tategu">
          <label for="damage_tategu">建具</label>
          
          <input name="damage[yuka]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[yuka]" id="damage_yuka">
          <label for="damage_yuka">床</label> 
          
          <input name="damage[caulking]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[caulking]" id="damage_caulking">
          <label for="damage_caulking">コーキング</label>          
          
          <input name="damage[block]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[block]" id="damage_block">
          <label for="damage_block">ブロック</label>   
          
          <input name="damage[kabe]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kabe]" id="damage_kabe">
          <label for="damage_kabe">壁</label>

          <input name="damage[tenjyo]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[tenjyo]" id="damage_tenjyo">
          <label for="damage_tenjyo">天井</label>
          
          <!--
          <input name="damage[suhon]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[suhon]" id="damage_suhon">
          <label for="damage_suhon">数本</label>

          <input name="damage[tasu]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[tasu]" id="damage_tasu">
          <label for="damage_tasu">多数</label>
          
          <input name="damage[kakusyo]" type="hidden" value="false">
          <input type="checkbox" value="true" name="damage[kakusyo]" id="damage_kakusyo">
          <label for="damage_kakusyo">各所</label>
          -->
          
          <!-- コメントアウト -->
          <% if false %>
            <%= f.check_box :genkyo, {}, "true", "false" %><%= f.label :genkyo, '現況' %>
            <%= f.check_box :sukima, {}, "true", "false" %><%= f.label :sukima, '隙間' %>
            <%= f.check_box :ware, {}, "true", "false" %><%= f.label :ware, '割れ' %>
            <%= f.check_box :kake, {}, "true", "false" %><%= f.label :kake, '欠け' %>
            <%= f.check_box :crack, {}, "true", "false" %><%= f.label :crack, 'クラック' %>
            <%= f.check_box :tile, {}, "true", "false" %><%= f.label :tile, 'タイル' %>
            <%= f.check_box :kire, {}, "true", "false" %><%= f.label :kire, '切れ' %>
            <%= f.check_box :uki, {}, "true", "false" %><%= f.label :uki, '浮き' %>
            <%= f.check_box :suhon, {}, "true", "false" %><%= f.label :suhon, '数本' %>
            <%= f.check_box :chirigire, {}, "true", "false" %><%= f.label :chirigire, 'チリ切れ' %>
            <%= f.check_box :cross, {}, "true", "false" %><%= f.label :cross, 'クロス' %>
            <%= f.check_box :meji, {}, "true", "false" %><%= f.label :meji, '目地' %>
            <%= f.check_box :tategu, {}, "true", "false" %><%= f.label :tategu, '建具' %>
            <%= f.check_box :tasu, {}, "true", "false" %><%= f.label :tasu, '多数' %>
            <%= f.check_box :kakusyo, {}, "true", "false" %><%= f.label :kakusyo, '各所' %>
          <% end %>
          <!-- コメントアウト -->
        </div>
        
        <input type="text" id="damage_other" name="damage[other]" placeholder="その他" size="20" style="margin-top: 10px;">
      </div>
      
      <!--
      <div class="form-group" style="margin-top: 10px; padding: 10px;">
        矢印の向き：
        <label><input id="arrow_up" type="radio" checked="checked" name="direction">上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label><input id="arrow_right" type="radio" name="direction">右</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label><input id="arrow_down" type="radio" name="direction">下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label><input id="arrow_left" type="radio" name="direction">左</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label><input id="arrow_clean" type="radio" name="direction">クリア</label>
      </div>
      -->
      
      <div class="form-group">
        <p>面積：<%= f.text_field :width %>&nbsp;cm&nbsp;&nbsp;×&nbsp;&nbsp;<%= f.text_field :height %>&nbsp;cm</p>
        <p>幅：<%= f.text_field :wide %>&nbsp;mm</p>
      </div>
      
      <div class="form-group">
        長さ：&nbsp;<label><%= f.check_box :amimejyo, {}, "true", "false" %>網目状</label>&nbsp;&nbsp;
        <label><%= f.check_box :zencho, {}, "true", "false" %>全長</label>&nbsp;&nbsp;
        <label><%= f.check_box :zenshu, {}, "true", "false" %>全周</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.text_field :length %>&nbsp;cm</span>
      </div>
      
      <div class="form-group">
        <%= f.label :comment, 'コメント(最大24文字)' %>
        <%= f.text_area :comment, :class=>"form-control", maxlength: 24 %>
      </div>
    <% end %>
  <% end %>
</div>

<style>
.photosArea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photosArea .previewImg {
  width: 100%;
}
</style>

<script>
// グローバル変数
var canvas = document.getElementById('liveview');
var ctx = canvas.getContext('2d');
var img = new Image();
var reader = new FileReader();

// 入力欄の有効(false)・無効化(true)操作
function inputAreaDisable(flag) {
  $("#damage_genkyo").prop("disabled", flag);  // 現況
  $("#damage_crack").prop("disabled", flag);  // クラック  
  $("#damage_chirigire").prop("disabled", flag);  // チリ切れ
  $("#damage_hosyuzumi").prop("disabled", flag);  // 補修済
  $("#damage_kaisouzumi").prop("disabled", flag);  // 改装済  
  
  $("#damage_sukima").prop("disabled", flag);  // 隙間
  $("#damage_ware").prop("disabled", flag);  // 割れ
  $("#damage_hason").prop("disabled", flag);  // 破損
  $("#damage_uki").prop("disabled", flag);  // 浮き 
  $("#damage_kake").prop("disabled", flag);  // 欠け

  $("#damage_tawami").prop("disabled", flag);  // タワミ
  $("#damage_kire").prop("disabled", flag);  // 切れ
  $("#damage_kosure").prop("disabled", flag);  // コスレ
  $("#damage_kishimi").prop("disabled", flag);  // キシミ
  $("#damage_kudari").prop("disabled", flag);  // 下り

  $("#damage_hakuri").prop("disabled", flag);  // 剥離
  $("#damage_shimiato").prop("disabled", flag);  // シミ跡
  $("#damage_hosyuato").prop("disabled", flag);  // 補修跡
  $("#damage_hakka").prop("disabled", flag);  // 白華
  $("#damage_ketsuraku").prop("disabled", flag);  // 欠落
  
  $("#damage_furoku").prop("disabled", flag);  // 不陸
  $("#damage_meji").prop("disabled", flag);  // 目地  
  $("#damage_tile").prop("disabled", flag);  // タイル
  $("#damage_cross").prop("disabled", flag);  // クロス
  $("#damage_tategu").prop("disabled", flag);  // 建具  

  $("#damage_yuka").prop("disabled", flag);  // 床
  $("#damage_caulking").prop("disabled", flag);  // コーキング
  $("#damage_block").prop("disabled", flag);  // ブロック
  $("#damage_kabe").prop("disabled", flag);  // 壁
  $("#damage_tenjyo").prop("disabled", flag);  // 天井  
  
  /*
  $("#damage_suhon").prop("disabled", flag);  // 数本
  $("#damage_tasu").prop("disabled", flag);  // 多数
  $("#damage_kakusyo").prop("disabled", flag);  // 各所
  */
  
  $('#damage_other').prop("disabled", flag); // その他
  
  $("#damage_width, #damage_height").prop("disabled", flag);  // 面積
  $("#damage_wide").prop("disabled", flag);  // 幅
  $("#damage_amimejyo, #damage_zencho, #damage_zenshu, #damage_length").prop("disabled", flag);  // 長さ
  
  $("#damage_comment").prop("disabled", flag); // コメント欄
}

// 戻るボタン
document.querySelector("#return").addEventListener("click", () => {
  // 登録ボタンを無効化
  $("#submit").prop("disabled", true);
  // 入力欄を有効化
  inputAreaDisable(false);

  // 適用「その他」欄に記載の文言を末尾から削除
  var original_val = $('#damage_tekiyo').val();
  var other = $('#damage_other').val();
  $('#damage_tekiyo').val(original_val.replace(other, ""));
  
  // ファイル選択を初期化  
  $('#damage_image1').val('');
  // liveview上の画像をクリア
  ctx.clearRect(0, 0, canvas.width, canvas.height);
});

$('#damage_image1').on('change', function (e) {
  reader.onload = function (e) {
    img.src = e.target.result;

    img.onload = function() {
      // 画像サイズ取得
      var imgW = img.width;
      var imgH = img.height;
      // プレビュー画像の幅取得
      var previewImgW = $('.previewImg').width();
      var previewImgH = $('.previewImg').height();
      // 拡縮率の計算
      var rate = previewImgH / imgH;
      
      // 画像ファイルの横幅に拡縮率を掛け、canvasのサイズにセット
      canvas.width = imgW * rate * 4;      // 高画質化のため、4倍に
      canvas.height = imgH * rate * 4;     // 高画質化のため、4倍に
      // 画像を canvas に表示
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      // スタイルを設定
      canvas.style.width = String(imgW * rate) + "px";
      canvas.style.height = String(imgH * rate) + "px";
      
      // 登録ボタンを有効化
      $("#submit").prop("disabled", false);
      // 入力欄を無効化
      inputAreaDisable(true);
      
      // 適用「その他」欄に記載の文言を末尾に追加
      var original_val = $('#damage_tekiyo').val();
      var other = $('#damage_other').val();
      $('#damage_tekiyo').val(original_val + other);
    }
  }
  reader.readAsDataURL(e.target.files[0]);
});

/*
$('#liveview').on('click', function(e){
  if(document.getElementById( "arrow_clean" ).checked) {
    // 初期化
    //ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
  } else {
    // 実際の画像サイズと描画領域の倍率を算出
    var rate = canvas.width / canvas.clientWidth;
    let offsetX = e.offsetX * rate; // =>要素左上からのx座標
    let offsetY = e.offsetY * rate; // =>要素左上からのy座標

    var w=canvas.width*0.05,h=w,w0=w*0.5,h0=h*0.25,x=offsetX,y=offsetY;
    // 矢印描画     
    ctx.setTransform(1,0,0,1,0,0);
    ctx.translate(x,y);
    ctx.beginPath();
    ctx.fillStyle = 'red';
    if ( document.getElementById( "arrow_up" ).checked ) {
    	// 上
      ctx.moveTo(-h0,w);
    	ctx.lineTo(-h0,w0);
      ctx.lineTo(-w0,w0);
      ctx.lineTo(0,0);
      ctx.lineTo(w0,w0);
      ctx.lineTo(h0,w0);
      ctx.lineTo(h0,w); 
      ctx.lineTo(-h0,w);
    } else if ( document.getElementById( "arrow_right" ).checked ) {
    	// 右
      ctx.moveTo(-w,-h0);    	
    	ctx.lineTo(-w0,-h0);
      ctx.lineTo(-w0,-w0);
      ctx.lineTo(0,0);
      ctx.lineTo(-w0,w0);
      ctx.lineTo(-w0,h0);
      ctx.lineTo(-w,h0);
      ctx.lineTo(-w,-h0);
    } else if ( document.getElementById( "arrow_down" ).checked ) {
    	// 下
      ctx.moveTo(-h0,-w);    	
    	ctx.lineTo(-h0,-w0);
      ctx.lineTo(-w0,-w0);
      ctx.lineTo(0,0);
      ctx.lineTo(w0,-w0);
      ctx.lineTo(h0,-w0);
      ctx.lineTo(h0,-w);
      ctx.lineTo(-h0,-w);    	
    } else if ( document.getElementById( "arrow_left" ).checked ) {
    	// 左
      ctx.moveTo(w,-h0);
    	ctx.lineTo(w0,-h0);
      ctx.lineTo(w0,-w0);
      ctx.lineTo(0,0);
      ctx.lineTo(w0,w0);
      ctx.lineTo(w0,h0);
      ctx.lineTo(w,h0);
      ctx.lineTo(w,-h0);
    }
    ctx.stroke();
    ctx.fill();
    ctx.closePath();
    ctx.setTransform(1,0,0,1,0,0);
    
    //console.log(ctx);
  }
});
*/

function imagingAtCanvas() {
  // canvasの画像化
  var canvas_data = canvas.toDataURL('image/jpeg');
  $('input[name="canvas_data"]').val(canvas_data);
}

//************ 適用を選択順に表記 ************//
// 現況
$('#damage_genkyo').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "現況 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("現況 ", ""));
  }
});
// クラック
$('#damage_crack').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "クラック ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("クラック ", ""));
  }
});
// チリ切れ
$('#damage_chirigire').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "チリ切れ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("チリ切れ ", ""));
  }
});
// 補修済
$('#damage_hosyuzumi').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "補修済 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("補修済 ", ""));
  }
});
// 改装済
$('#damage_kaisouzumi').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "改装済 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("改装済 ", ""));
  }
});
// 隙間
$('#damage_sukima').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "隙間 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("隙間 ", ""));
  }
});
// 割れ
$('#damage_ware').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "割れ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("割れ ", ""));
  }
});
// 破損
$('#damage_hason').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "破損 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("破損 ", ""));
  }
});
// 浮き
$('#damage_uki').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "浮き ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("浮き ", ""));
  }
});
// 欠け
$('#damage_kake').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "欠け ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("欠け ", ""));
  }
});
// タワミ
$('#damage_tawami').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "タワミ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("タワミ ", ""));
  }
});
// 切れ
$('#damage_kire').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "切れ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("切れ ", ""));
  }
});
// コスレ
$('#damage_kosure').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "コスレ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("コスレ ", ""));
  }
});
// キシミ
$('#damage_kishimi').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "キシミ ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("キシミ ", ""));
  }
});
// 下り
$('#damage_kudari').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "下り ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("下り ", ""));
  }
});
// 剥離
$('#damage_hakuri').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "剥離 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("剥離 ", ""));
  }
});
// シミ跡
$('#damage_shimiato').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "シミ跡 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("シミ跡 ", ""));
  }
});
// 補修跡
$('#damage_hosyuato').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "補修跡 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("補修跡 ", ""));
  }
});
// 白華
$('#damage_hakka').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "白華 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("白華 ", ""));
  }
});
// 欠落
$('#damage_ketsuraku').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "欠落 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("欠落 ", ""));
  }
});
// 不陸
$('#damage_furoku').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "不陸 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("不陸 ", ""));
  }
});
// 目地
$('#damage_meji').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "目地 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("目地 ", ""));
  }
});
// タイル
$('#damage_tile').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "タイル ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("タイル ", ""));
  }
});
// クロス
$('#damage_cross').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "クロス ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("クロス ", ""));
  }
});
// 建具
$('#damage_tategu').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "建具 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("建具 ", ""));
  }
});
// 床
$('#damage_yuka').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "床 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("床 ", ""));
  }
});
// コーキング
$('#damage_caulking').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "コーキング ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("コーキング ", ""));
  }
});
// ブロック
$('#damage_block').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "ブロック ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("ブロック ", ""));
  }
});
// 壁
$('#damage_kabe').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "壁 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("壁 ", ""));
  }
});
// 天井
$('#damage_tenjyo').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "天井 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("天井 ", ""));
  }
});
/*
// 数本
$('#damage_suhon').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "数本 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("数本 ", ""));
  }
});
// 多数
$('#damage_tasu').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "多数 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("多数 ", ""));
  }
});
// 各所
$('#damage_kakusyo').on('click', function(e){
  var original_val = $('#damage_tekiyo').val();
  
  if($(this).prop('checked') == true) {
    $('#damage_tekiyo').val(original_val + "各所 ");
  } else {
    $('#damage_tekiyo').val(original_val.replace("各所 ", ""));
  }
});
*/
</script>