<% 
  survey_type = @damage.survey_type
  if survey_type == "pre"
    survey_type_name = "事前調査"
  elsif survey_type == "ongoing"
    survey_type_name = "事中調査"
  elsif survey_type == "after"
    survey_type_name = "事後調査"
  else
    survey_type_name = "その他"
  end
%>

<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active">No.<%= @sonsyo.number %>（<%= survey_type_name %>）</li>
</ol>

<h2 class="text-center">損傷：No.<%= @sonsyo.number %>の撮影（<%= survey_type_name %>）</h2>
<%= link_to '編集', edit_damage_path(sonsyo_id: @sonsyo.id, survey_type: survey_type), :class=>"btn btn-primary" %>

<div class="post-img">
  <%= image_tag @damage.image1 %>
  <% unless @sonsyo.room_name == "全景" %>
    <% if @damage.position_wb == 0 %>
      <!-- 左上 -->
      <div class="wb_left_top"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>  
    <% elsif @damage.position_wb == 1 %>
      <!-- 上 -->
      <div class="wb_top"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>    
    <% elsif @damage.position_wb == 2 %>
      <!-- 右上 -->
      <div class="wb_right_top"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>    
    <% elsif @damage.position_wb == 3 %>
      <!-- 右下 -->
      <div class="wb_right_down"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>    
    <% elsif @damage.position_wb == 4 %>
      <!-- 下 -->
      <div class="wb_down"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>
    <% else %>
      <!-- 左下 -->
      <div class="wb_left_down"><%= render 'damages/wb', { house: @house, sonsyo: @sonsyo, damage: @damage } %></div>
    <% end %>
  <% end %>
</div>

<style>
.post-img {
  position: relative;
  margin-top:10px;
  width: 60%;
  font-size: 60%;
}
.post-img > img {
  width: 100%;
}
.post-img > .wb_left_top {
  position: absolute;
  top: 0;
  left: 0;
}
.post-img > .wb_top {
  position: absolute;
  top: 0;
  left: 40%;
}
.post-img > .wb_right_top {
  position: absolute;
  top: 0;
  right: 0;
}
.post-img > .wb_right_down {
  position: absolute;
  bottom: 0;
  right: 0;
}
.post-img > .wb_down {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.post-img > .wb_left_down {
  position: absolute;
  bottom: 0;
  left: 0;
}
</style>