<div class="page">
  <h1 class="text-center">建物調査一覧表</h1>
  <table class="table table-bordered" style="font-size:10px;">
    <tr>
      <td>工事名</td>
      <td><%= @investigation.construction_name %></td>
      <td rowspan="2">事前調査</td>
      <td>調査年月日</td>
      <td><%= @investigation.start_pre_survey %>～<%= @investigation.stop_pre_survey %></td>
      <td rowspan="2">事後調査</td>
      <td>調査年月日</td>
      <td><%= @investigation.start_after_survey %>～<%= @investigation.stop_after_survey %></td>
    </tr>
    <tr>
      <td>施工者名</td>
      <td><%= @investigation.builder %></td>
      <td>受注者</td>
      <td><%= @investigation.investigator_pre_survey %></td>
      <td>受注者</td>
      <td><%= @investigation.investigator_after_survey %></td>
    </tr>
  </table>
  <table class="table table-bordered" style="font-size:10px;">
    <tr>
      <td>家屋No</td>
      <td>家屋名（居住者名）</td>
      <td>建物所在地</td>
      <td>所有者名</td>
      <td>用途</td>
      <td>概要</td>
      <td>構造</td>
      <td>延床面積</td>
      <td>事前調査日</td>
      <td>事後調査日</td>
      <td>調査範囲</td>        
    </tr>
    <tr>
      <% @houses.each do |house| %>
        <td><%= house.house_number %></td>
        <td><%= house.house_name %></td>
        <td><%= house.city %><%= house.block %></td>
        <td><%= house.owner_name %></td>
        <td><%= house.use %></td>
        <td><%= house.overview_after_survey %></td>
        <td><%= house.construction %></td>
        <td><%= house.area %></td>
        <td></td>
        <td></td>
        <td><%= house.range_after_survey %></td>
      <% end %>
    </tr>
  </table>
</div>