<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@survey) do |f| %>
      <p class="text-right">*必須</p>
      <%= f.hidden_field :house_id, :value => @house.id %>

      <div class="form-group">
        <%= f.label :survey_name, '調査名*' %>
        <%= f.select :survey_name, $SURVEY_TYPE, :prompt => "選択してください" %>
      </div>

      <div class="form-group">
        <%= f.label :overview, '建物概要' %>
        <%= f.select :overview, $SURVEY_OVERVIEW, :prompt => "選択してください" %>
      </div>
      
      <div class="form-group">
        <%= f.label :range, '調査範囲' %>
        <%= f.text_field :range, :class=>"form-control" %>
      </div>
      
      <%= f.submit '登録', :class=>"btn btn-primary" %>
    <% end %>
  </div>
</div>