<% @houses.each do |house| %>

  <div class="page">
    <div class="hyoshi_parent text-center">
      <h1 class="investigation_construction_name"><%= @investigation.construction_name %></h1>
      <h2 class="investigation_content"><%= @investigation.content %> <%= survey_type %>調査報告書</h2>
      <p class="investigation_content">No.<%= house.house_number %> <%= house.owner_name %>　様</p>

      <div class="investigation_footer">
        <p>調査日：
          <% if survey_type == 'pre' or survey_type == '事前' %>
            <%= disp_wareki(house.pre_survey_day) %>
          <% elsif survey_type == 'ongoing' or survey_type == '事中' %>
            <%= disp_wareki(house.ongoing_survey_day) %>
          <% elsif survey_type == 'after' or survey_type == '事後' %>
            <%= disp_wareki(house.after_survey_day) %>
          <% end %>
        </p>
        <p>施工者：<%= @investigation.builder %></p>
        <p>調査機関：<%= @investigation.investigator_pre_survey %></p>
      </div>
    </div>
  </div>

<% end %>

<style>
.hyoshi_parent {
  position: relative;

  height: 1044px;
  padding: 60px 0;
}
.investigation_construction_name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 100px;
}
.investigation_content,
.investigation_period,
.investigation_houses {
  font-size: 28px;
  margin-bottom: 100px;  
}
.investigation_footer {
  font-size: 20px;  
  width: 100%;
  
  position: absolute;
  bottom: 50px;
}
</style>

