<tr>
  <td class="photo">
    <% if damage != nil %>
      <%= image_tag damage.image3 %><!-- 写真 -->
    <% end %>
  </td>
  <td class="book">
    <table class="table table-bordered">
      <% if sonsyo != nil %>
        <tr class="header"><td>No.<%= sonsyo.number %></td></tr>
        <tr class="body">
          <td>
            <% if sonsyo.room_name == "その他" %>
              <%= sonsyo.room_name_other %>
            <% else %>
              <%= sonsyo.room_name %>
            <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <%= damage.tekiyo %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.width.present? && damage.height.present? %>
              A=<%= damage.width %>&nbsp;cm&nbsp;x&nbsp;<%= damage.height %>&nbsp;cm
            <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.wide.present? %>
              W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm
            <% end %>              
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.amimejyo == true %>L=網目状<% end %>  
            <% if damage.zencho == true %>L=全長<% end %>
            <% if damage.zenshu == true %>L=全周<% end %>
            <% if damage.length.present? %>
              L&nbsp;=&nbsp;<%= damage.length %>
            <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <%= damage.comment %>
          </td>
        </tr>
      <% end %>
    </table>
  </td>  
</tr>

<style>
.photo_book .photo img {
  width: auto;
  height: 330px;
}

.photo_book .book {
  width: 150px;
  height: auto !important;
}
.photo_book .book table {
  border: none !important;
}
.photo_book .book table .header td {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 2px !important;  
}
.photo_book .book table .body td {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: dotted !important;
}
/* セルの最小heightを設定 */
.photo_book .book table .body td:first-child:before {
  display: block;
  float: left;
  height: 12px;
  content: "";
}
</style>