<% @houses.each do |house| %>
  <!-- 1ページ目 -->
  <div class="page horizontal_parent">
    <div class="horizontal">
      <div class="horizontal_child">
        <h1 class="text-center">損傷調査書</h1>
        <table class="table table-bordered" style="font-size:10px; margin-bottom: 0;">
          <tr>
            <td>調査番号</td>
            <td><%= @investigation.id %></td>
            <td>建物番号</td>
            <td><%= house.house_number %></td>
            <td>建物所在地</td>
            <td><%= house.city %><%= house.block %></td>
            <td rowspan="2"><%= survey_type_1 %>調査</td>
            <td>調査年月日</td>
            <td>
              <% if survey_type_1 == "事前" %>
                <%= house.pre_survey_day %>
              <% elsif survey_type_1 == "事中" %>
                <%= house.ongoing_survey_day %>
              <% elsif survey_type_1 == "事後" %>
                <%= house.after_survey_day %>
              <% end %>
            </td>
          </tr>
          
          <tr>
            <td rowspan="3" class="align-middle">所有者住所</td>
            <td rowspan="3" class="align-middle"><%= house.owner_city %><%= house.owner_block %></td>
            <td rowspan="3" class="align-middle">氏名</td>
            <td rowspan="3" class="align-middle"><%= house.house_name %></td>
            <td rowspan="3" class="align-middle">所有者氏名</td>
            <td rowspan="3" class="align-middle"><%= house.owner_name %></td>
            
            <td>受注者</td>
            <td>
              <% if survey_type_1 == "事前" %>
                <%= @investigation.investigator_pre_survey %>
              <% elsif survey_type_1 == "事中" %>
                <%= @investigation.investigator_ongoing_survey %>
              <% elsif survey_type_1 == "事後" %>
                <%= @investigation.investigator_after_survey %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td rowspan="2"><%= survey_type_2 %>調査</td>
            <td>調査年月日</td>
            <td>
              <% if survey_type_2 == "事前" %>
                <%= house.pre_survey_day %>
              <% elsif survey_type_2 == "事中" %>
                <%= house.ongoing_survey_day %>
              <% elsif survey_type_2 == "事後" %>
                <%= house.after_survey_day %>
              <% end %> 
            </td>
          </tr>
            
          <tr>
            <td>受注者</td>
            <td>
              <% if survey_type_2 == "事前" %>
                <%= @investigation.investigator_pre_survey %>
              <% elsif survey_type_2 == "事中" %>
                <%= @investigation.investigator_ongoing_survey %>
              <% elsif survey_type_2 == "事後" %>
                <%= @investigation.investigator_after_survey %>
              <% end %>  
            </td>
          </tr>
        </table>
        
        <table class="table table-bordered table_padding_yon_important" style="font-size:10px;">
          <tr>
            <td rowspan="2">名称（室名）</td>
            <td style="width:45%;" colspan="4"><%= survey_type_1 %>調査</td>
            <td style="width:45%;" colspan="3"><%= survey_type_2 %>調査</td>
          </tr>
          <tr>
            <td>各部仕上材</td>
            <td>写真番号</td>
            <td>損傷の状況</td>
            <td>備考</td>
            <td>写真番号</td>
            <td>損傷の状況</td>
            <td>備考</td>        
          </tr>
          
          <% num_exist = 0 %><!-- 存在したデータ数 -->
          <% num_per_fist_page = 9 %><!-- 先頭から9件分のデータを1ページ目に表示 -->
          <% house.sonsyos.first(num_per_fist_page).each do |sonsyo| %>
            <tr>
              <td class="text-center">
                <% if sonsyo.room_name == "その他" %>
                  <%= sonsyo.room_name_other %>
                <% else %>
                  <%= sonsyo.room_name %>
                <% end %>   

                <% if false %><!-- コメントアウト -->             
                  <%= sonsyo.room_name %>
                  <% if sonsyo.room_name_other.present? %>
                    /<%= sonsyo.room_name_other %>
                  <% end %>
                <% end %><!-- コメントアウト -->                  
              </td>
              <td style="width:6%;" class="text-center">－</td>
              <td style="width:6%;" class="text-center"><%= sonsyo.number %></td>
              <% 
                if survey_type_1 == "事前"
                  damage = sonsyo.damages.find_by(survey_type: "pre")
                elsif survey_type_1 == "事中"
                  damage = sonsyo.damages.find_by(survey_type: "ongoing")
                elsif survey_type_1 == "事後"
                  damage = sonsyo.damages.find_by(survey_type: "after")
                end
              %>  
              <td>
                <%= damage.tekiyo %><br/>
                <% if damage.wide.present? %>W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                <% if damage.length.present? %>L&nbsp;=&nbsp;<%= damage.length %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                <br/>
                <% if damage.width.present? && damage.height.present? %>A&nbsp;=&nbsp;<%= damage.width %>&nbsp;x&nbsp;<%= damage.height %>&nbsp;cm<% end %>
              </td>
              <td><%= damage.comment %></td><!-- 備考 -->
              
              <td style="width:6%;" class="text-center"><%= sonsyo.number %></td>
              <% 
                if survey_type_2 == "事前"
                  damage = sonsyo.damages.find_by(survey_type: "pre")
                elsif survey_type_2 == "事中"
                  damage = sonsyo.damages.find_by(survey_type: "ongoing")
                elsif survey_type_2 == "事後"
                  damage = sonsyo.damages.find_by(survey_type: "after")
                end
              %>
              <td>
                <%= damage.tekiyo %><br/>
                <% if damage.wide.present? %>W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                <% if damage.length.present? %>L&nbsp;=&nbsp;<%= damage.length %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                <br/>
                <% if damage.width.present? %>Width&nbsp;=&nbsp;<%= damage.width %>&nbsp;cm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                <% if damage.height.present? %>Height&nbsp;=&nbsp;<%= damage.height %>&nbsp;cm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
              </td>
              <td><%= damage.comment %></td><!-- 備考 -->
            </tr>
            <% num_exist+=1 %>
          <% end %>
          
          <!-- 空欄枠の表示 -->
          <% while num_exist < num_per_fist_page do %>
            <tr>
              <td>　</td>
              <td>－</td>
              <td>　</td>
              <td>　</td>
              <td>　</td>
              <td>　</td>
              <td>　</td>
              <td>　</td>
            </tr>
            <% num_exist+=1 %>
          <% end %>          
          
        </table>
      </div>
    </div>
  </div>
  
  <!-- 2ページ目以降 -->
  <% num_per_page = 15 %><!-- 1ページあたり15件表示 -->
  <% sonsyos = house.sonsyos %>
  <% remaining_sonsyos = sonsyos.count - num_per_fist_page %><!-- 1ページ目に表示した分をマイナス -->
  <% if remaining_sonsyos > 0 then %>
    <% remaining_pages = remaining_sonsyos / num_per_page %>
    <% if remaining_sonsyos % num_per_page > 0 %>
      <% remaining_pages = remaining_pages + 1 %>
    <% end %>
    
    <% for i in 1..remaining_pages %>
      <% start = (i - 1) * num_per_page + num_per_fist_page %>
      <% stop = start + (num_per_page - 1) %>
    
      <div class="page horizontal_parent">
        <div class="horizontal">
          <div class="horizontal_child">  
            <table class="table table-bordered" style="font-size:10px;">
              <% num_exist = 0 %><!-- 存在したデータ数 -->

              <% sonsyos[start..stop].each do |sonsyo| %>
                <tr>
                  <td class="text-center"><%= sonsyo.room_name %></td>
                  <td style="width:6%;" class="text-center">－</td>
                  <td style="width:6%;" class="text-center"><%= sonsyo.number %></td>
                  
                  <% 
                    if survey_type_1 == "事前"
                      damage = sonsyo.damages.find_by(survey_type: "pre")
                    elsif survey_type_1 == "事中"
                      damage = sonsyo.damages.find_by(survey_type: "ongoing")
                    elsif survey_type_1 == "事後"
                      damage = sonsyo.damages.find_by(survey_type: "after")
                    end
                  %>  
                  <td>
                    <%= damage.tekiyo %><br/>
                    <% if damage.wide.present? %>W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                    <% if damage.length.present? %>L&nbsp;=&nbsp;<%= damage.length %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                    <br/>
                    <% if damage.width.present? && damage.height.present? %>A&nbsp;=&nbsp;<%= damage.width %>&nbsp;x&nbsp;<%= damage.height %>&nbsp;cm<% end %>
                  </td>
                  <td><%= damage.comment %></td><!-- 備考 -->

                  <td style="width:6%;" class="text-center"><%= sonsyo.number %></td>
                  <% 
                    if survey_type_2 == "事前"
                      damage = sonsyo.damages.find_by(survey_type: "pre")
                    elsif survey_type_2 == "事中"
                      damage = sonsyo.damages.find_by(survey_type: "ongoing")
                    elsif survey_type_2 == "事後"
                      damage = sonsyo.damages.find_by(survey_type: "after")
                    end
                  %>
                  <td>
                    <%= damage.tekiyo %><br/>
                    <% if damage.wide.present? %>W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                    <% if damage.length.present? %>L&nbsp;=&nbsp;<%= damage.length %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                    <br/>
                    <% if damage.width.present? %>Width&nbsp;=&nbsp;<%= damage.width %>&nbsp;cm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                    <% if damage.height.present? %>Height&nbsp;=&nbsp;<%= damage.height %>&nbsp;cm&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
                  </td>
                  <td><%= damage.comment %></td><!-- 備考 -->
                </tr>
                
                <% num_exist+=1 %>
              <% end %>
              
              <!-- 空欄枠の表示 -->
              <% while num_exist < num_per_page do %>
                <tr>
                  <td>　</td>
                  <td>－</td>
                  <td>　</td>
                  <td>　</td>
                  <td>　</td>
                  <td>　</td>
                  <td>　</td>
                  <td>　</td>
                </tr>
                <% num_exist+=1 %>
              <% end %>               
              
            </table>
          </div>
        </div>
      </div>  
    <% end %>
  <% end %>
  
  <% num = 0 %>
  <% while num < sonsyos.length do %>
    <div class="page">
      <table class="table table-bordered photo_book">
        <% 
          sonsyo = sonsyos[num]
          
          if survey_type_main == "事前"
            damage = sonsyo.damages.find_by(survey_type: "pre")
          elsif survey_type_main == "事中"
            damage = sonsyo.damages.find_by(survey_type: "ongoing")
          elsif survey_type_main == "事後"
            damage = sonsyo.damages.find_by(survey_type: "after")
          end
          
          if damage != nil
            num = num + 1
          end
        %>
        <%= render 'investigations/pages/sonsyochosasyo_photo_book_row', sonsyo: sonsyo, damage: damage %>

        <% 
          sonsyo = sonsyos[num]
          if sonsyo != nil
            if survey_type_main == "事前"
              damage = sonsyo.damages.find_by(survey_type: "pre")
            elsif survey_type_main == "事中"
              damage = sonsyo.damages.find_by(survey_type: "ongoing")
            elsif survey_type_main == "事後"
              damage = sonsyo.damages.find_by(survey_type: "after")
            end
          else
            damage = nil
          end
          
          if damage != nil
            num = num + 1
          end
        %>
        <%= render 'investigations/pages/sonsyochosasyo_photo_book_row', sonsyo: sonsyo, damage: damage %>

        <% 
          sonsyo = sonsyos[num]
          if sonsyo != nil
            if survey_type_main == "事前"
              damage = sonsyo.damages.find_by(survey_type: "pre")
            elsif survey_type_main == "事中"
              damage = sonsyo.damages.find_by(survey_type: "ongoing")
            elsif survey_type_main == "事後"
              damage = sonsyo.damages.find_by(survey_type: "after")
            end
          else
            damage = nil
          end
          
          if damage != nil
            num = num + 1
          end
        %>
        <%= render 'investigations/pages/sonsyochosasyo_photo_book_row', sonsyo: sonsyo, damage: damage %>

      </table>
    </div>
  <% end %><!-- while num < points.length do -->
<% end %>

<style>
.table_padding_yon_important td {
  padding: 4px !important;
  height: 38px;
}
.horizontal_parent {
  position: relative;
}
.horizontal {
  position: absolute;
  left: -100px;
  top: 195px;
  transform: rotate(-90deg);
}
.horizontal .horizontal_child {
  width: 1044px;
  height: 715px;
}

.photo_book {
  font-size:10px;
  border: none !important;  
}
.photo_book td {
  border: none !important;
}
</style>