<tr>
  <td class="photo">
    <% if damage != nil %>
      <%= image_tag damage.image3 %><!-- 写真 -->
    <% end %>
  </td>
  <td class="book">
    <table class="table table-bordered">
      <% if sonsyo != nil %>
        <tr class="header"><td>No.<%= sonsyo.number %></td></tr>
        <tr class="body">
          <td>
            <% if sonsyo.room_name == "その他" %>
              <%= sonsyo.room_name_other %>
            <% else %>
              <%= sonsyo.room_name %>
            <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.genkyo == true %>現況 <% end %>
            <% if damage.sukima == true %>隙間 <% end %>
            <% if damage.ware == true %>割れ <% end %>
            <% if damage.kake == true %>欠け <% end %>
            <% if damage.crack == true %>クラック <% end %>
            <% if damage.tile == true %>タイル <% end %>
            <% if damage.kire == true %>切れ <% end %>
            <% if damage.uki == true %>浮き <% end %>
            <% if damage.suhon == true %>数本 <% end %>
            <% if damage.chirigire == true %>チリ切れ <% end %>
            <% if damage.cross == true %>クロス <% end %>
            <% if damage.meji == true %>目地 <% end %>      
            <% if damage.tategu == true %>建具 <% end %>
            <% if damage.tasu == true %>多数 <% end %>
            <% if damage.kakusyo == true %>各所 <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.width.present? && damage.height.present? %>
              <%= damage.width %>&nbsp;cm&nbsp;x&nbsp;<%= damage.height %>&nbsp;cm
            <% end %>
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.wide.present? %>
              W&nbsp;=&nbsp;<%= damage.wide %>&nbsp;mm
            <% end %>              
          </td>
        </tr>
        <tr class="body">
          <td>
            <% if damage.amimejyo == true %>網目状<% end %>  
            <% if damage.zencho == true %>全長<% end %>
            <% if damage.zenshu == true %>全周<% end %>
            <% if damage.length.present? %>
              L&nbsp;=&nbsp;<%= damage.length %>&nbsp;cm
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </td>  
</tr>

<style>
.photo_book .photo {
  height: 380px;
}
/* セルの最小heightを設定 */
.photo_book .photo:first-child:before {
  display: block;
  float: left;
  height: 380px;
  content: "";
}  
.photo_book .photo img {
  width: 100%;
}

.photo_book .book {
  width: 150px;
}
.photo_book .book table {
  border: none !important;
}
.photo_book .book table .header td {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 2px !important;  
}
.photo_book .book table .body td {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: dotted !important;
}
/* セルの最小heightを設定 */
.photo_book .book table .body td:first-child:before {
  display: block;
  float: left;
  height: 12px;
  content: "";
}
</style>