<h1 class="text-center">損傷調査書</h1>
<% @houses.each do |house| %>
  <div class="page">
    <table class="table table-bordered" style="font-size:10px;">
      <tr>
        <td rowspan="2">調査番号</td>
        <td rowspan="2"></td>
        <td rowspan="2">建物番号</td>
        <td rowspan="2"><%= house.id %></td>
        <td rowspan="2">建物所在地</td>
        <td rowspan="2"><%= house.city %><%= house.block %></td>
        <td rowspan="2">事前調査</td>
        <td>調査年月日</td>
        <td></td>
      </tr>
      <tr>
        <td>受注者</td>
        <td><%= @investigation.investigator_pre_survey %></td>
      </tr>      
      <tr>
        <td rowspan="2">所有者住所</td>
        <td rowspan="2"><%= house.owner_city %><%= house.owner_block %></td>
        <td rowspan="2">氏名</td>
        <td rowspan="2"><%= house.house_name %></td>
        <td rowspan="2">所有者氏名</td>
        <td rowspan="2"><%= house.owner_name %></td>
        <td rowspan="2">事後調査</td>
        <td>調査年月日</td>
        <td></td>
      </tr>
      <tr>
        <td>受注者</td>
        <td><%= @investigation.investigator_after_survey %></td>
      </tr>
    </table>
    
    <table class="table table-bordered" style="font-size:10px;">
      <tr>
        <td rowspan="2">名称（室名）</td>
        <td colspan="4">事前調査</td>
        <td colspan="3">事後調査</td>
      </tr>
      <tr>
        <td>各部仕上材</td>
        <td>写真番号</td>
        <td>損傷の状況</td>
        <td>備考</td>
        <td>写真番号</td>
        <td>損傷の状況</td>
        <td>備考</td>        
      </tr>
      <% house.points.each do |point| %>
        <tr>
          <td></td>
          <td><%= point.number %></td>
          <td><%= point.posts.find_by(survey_type: "pre").id %></td>
          <td></td>
          <td></td>
          <td><%= point.posts.find_by(survey_type: "after").id %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>