<!-- 1ページ目 -->
<div class="page horizontal_parent">
  <div class="horizontal">
    <div class="horizontal_child">
      <h1 class="text-center">建物調査一覧表</h1>
      <table class="table table-bordered" style="font-size:10px;">
        <tr>
          <td style="width:6%;">工事名</td>
          <td><%= @investigation.construction_name %></td>
          <td style="width:6%;" rowspan="2"><%= survey_type_1 %>調査</td>
          <td style="width:7%;">調査年月日</td>
          <td style="width:21%;">
            <%= render 'investigations/pages/disp_period', investigation: @investigation, survey_type: survey_type_1 %>            
          </td>
          <td style="width:6%;" rowspan="2"><%= survey_type_2 %>調査</td>
          <td style="width:7%;">調査年月日</td>
          <td style="width:21%;">
            <%= render 'investigations/pages/disp_period', investigation: @investigation, survey_type: survey_type_2 %>
          </td>
        </tr>
        <tr>
          <td>施工者名</td>
          <td><%= @investigation.builder %></td>
          <td>受注者</td>
          <td>
            <% if survey_type_1 == "事前" %>
              <%= @investigation.investigator_pre_survey %>
            <% elsif survey_type_1 == "事中" %>
              <%= @investigation.investigator_ongoing_survey %>
            <% elsif survey_type_1 == "事後" %>
              <%= @investigation.investigator_after_survey %>
            <% end %>
          </td>
          <td>受注者</td>
          <td>
            <% if survey_type_2 == "事前" %>
              <%= @investigation.investigator_pre_survey %>
            <% elsif survey_type_2 == "事中" %>
              <%= @investigation.investigator_ongoing_survey %>
            <% elsif survey_type_2 == "事後" %>
              <%= @investigation.investigator_after_survey %>
            <% end %>           
          </td>
        </tr>
      </table>
      
      <table class="table table-bordered" style="font-size:10px;">
        <tr>
          <td>家屋No</td>
          <td>家屋名（居住者名）</td>
          <td>建物所在地</td>
          <td>所有者名</td>
          <td>用途</td>
          <td>概要</td>
          <td>構造</td>
          <td>延床面積</td>
          <td><%= survey_type_1 %>調査日</td>
          <td><%= survey_type_2 %>調査日</td>
          <td>調査範囲</td>        
        </tr>
    
        <% num_exist = 0 %><!-- 存在したデータ数 -->
        <% num_per_fist_page = 14 %><!-- 先頭から14件分のデータを1ページ目に表示 -->
        <% @houses.first(num_per_fist_page).each do |house| %>
          <tr>
            <td><%= house.house_number %></td>
            <td><%= house.house_name %></td>
            <td><%= house.city %><%= house.block %></td>
            <td><%= house.owner_name %></td>
            <td><%= house.use %></td>
            <td>
              <% if survey_type_main == "事前" %>
                <%= house.overview_pre_survey %>
              <% elsif survey_type_main == "事中" %>
                <%= house.overview_ongoing_survey %>
              <% elsif survey_type_main == "事後" %>
                <%= house.overview_after_survey %>
              <% end %>
            </td>
            <td><%= house.construction %></td>
            <td><%= house.area %></td>
            <td>
              <% if survey_type_1 == "事前" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.pre_survey_day, end_day: house.end_pre_survey_day %>
              <% elsif survey_type_1 == "事中" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.ongoing_survey_day, end_day: house.end_ongoing_survey_day %>
              <% elsif survey_type_1 == "事後" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.after_survey_day, end_day: house.end_after_survey_day %>
              <% end %>
            </td>
            <td>
              <% if survey_type_2 == "事前" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.pre_survey_day, end_day: house.end_pre_survey_day %>
              <% elsif survey_type_2 == "事中" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.ongoing_survey_day, end_day: house.end_ongoing_survey_day %>
              <% elsif survey_type_2 == "事後" %>
                <%= render 'investigations/pages/disp_chosabi', 
                start_day: house.after_survey_day, end_day: house.end_after_survey_day%>
              <% end %>
            </td>
            <td>
              <% if survey_type_main == "事前" %>
                <%= house.range_pre_survey %>
              <% elsif survey_type_main == "事中" %>
                <%= house.range_ongoing_survey %>
              <% elsif survey_type_main == "事後" %>
                <%= house.range_after_survey %>
              <% end %>
            </td>
          </tr>
          <% num_exist+=1 %>
        <% end %>

        <!-- 空欄枠の表示 -->
        <% while num_exist < num_per_fist_page do %>
          <tr>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
            <td>　</td>
          </tr>
          <% num_exist+=1 %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<!-- 2ページ目以降 -->
<% num_per_page = 20 %><!-- 1ページあたり20件表示 -->
<% remaining_houses = @houses.count - num_per_fist_page %><!-- 1ページ目に表示した分をマイナス -->
<% if remaining_houses > 0 then %>
  <% remaining_pages = remaining_houses / num_per_page %>
  <% if remaining_houses % num_per_page > 0 %>
    <% remaining_pages = remaining_pages + 1 %>
  <% end %>
  <% for i in 1..remaining_pages %>
    <% start = (i - 1) * num_per_page + num_per_fist_page %>
    <% stop = start + (num_per_page - 1) %>
    <div class="page horizontal_parent">
      <div class="horizontal">
        <div class="horizontal_child">
          <table class="table table-bordered" style="font-size:10px;">
            <% num_exist = 0 %><!-- 存在したデータ数 -->
            <% @houses[start..stop].each do |house| %>
              <tr>
                <td><%= house.house_number %></td>
                <td><%= house.house_name %></td>
                <td><%= house.city %><%= house.block %></td>
                <td><%= house.owner_name %></td>
                <td><%= house.use %></td>
                <td>
                  <% if survey_type_main == "事前" %>
                    <%= house.overview_pre_survey %>
                  <% elsif survey_type_main == "事中" %>
                    <%= house.overview_ongoing_survey %>
                  <% elsif survey_type_main == "事後" %>
                    <%= house.overview_after_survey %>
                  <% end %>
                </td>
                <td><%= house.construction %></td>
                <td><%= house.area %></td>
                <td>
                  <% if survey_type_main == "事前" %>
                    <%= house.pre_survey_day %>
                  <% elsif survey_type_main == "事中" %>
                    <%= house.ongoing_survey_day %>
                  <% elsif survey_type_main == "事後" %>
                    <%= house.after_survey_day %>
                  <% end %>              
                </td>
                <td>
                  <% if survey_type_main == "事前" %>
                    <%= house.pre_survey_day %>
                  <% elsif survey_type_main == "事中" %>
                    <%= house.ongoing_survey_day %>
                  <% elsif survey_type_main == "事後" %>
                    <%= house.after_survey_day %>
                  <% end %>
                </td>
                <td>
                  <% if survey_type_main == "事前" %>
                    <%= house.range_pre_survey %>
                  <% elsif survey_type_main == "事中" %>
                    <%= house.range_ongoing_survey %>
                  <% elsif survey_type_main == "事後" %>
                    <%= house.range_after_survey %>
                  <% end %>
                </td>
              </tr>
              <% num_exist+=1 %>
            <% end %>
            
            <!-- 空欄枠の表示 -->
            <% while num_exist < num_per_page do %>
              <tr>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
              </tr>
              <% num_exist+=1 %>
            <% end %>            
            
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<style>
.horizontal_parent {
  position: relative;
}
.horizontal {
  position: absolute;
  left: -100px;
  top: 195px;
  transform: rotate(-90deg);
}
.horizontal .horizontal_child {
  width: 1044px;
  height: 715px;
}
</style>