<div class="container">
  <%= form_for(@post) do |f| %>
    <%= f.hidden_field :point_id, :value => @point.id %>
    <%= f.hidden_field :survey_type, :value => @post.survey_type %>
    
    <div class="row photosArea">
      <div class="col-xs-6">
        <% unless @preview_post.image1? %>
          <%= image_tag "bg_img.jpg", class:"previewImg" %>
        <% else %>
          <%= image_tag @preview_post.image1, class:"previewImg" %>
        <% end %>      
      </div>
      <div class="col-xs-6" id="point-<%= @point.id %>">
        <canvas id="liveview"></canvas>
        <input type="hidden" name="canvas_data" id="canvas_data">
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-6" style="text-align: center;">
        <%= f.submit '登録', :disabled=>"true", :class=>"btn btn-primary", :id=>"submit", method: :delete, data: { confirm: '登録してよろしいでしょうか？' } %>
        <button type="button" id="return" class="btn btn-default">戻る</button>
      </div>
      <div class="col-xs-6">
        <%= f.file_field :image1, :accept => 'image/*', :capture => 'environment' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :hyoko, '標高：' %>
      <%= f.text_field :hyoko %>
    </div>
    
    <div class="form-group">
      往路データ&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :ouro_bs, 'BS：' %>
      <%= f.text_field :ouro_bs %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :ouro_fs, 'FS：' %>
      <%= f.text_field :ouro_fs %>        
    </div>
    
    <div class="form-group">
      復路データ&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :fukuro_bs, 'BS：' %>
      <%= f.text_field :fukuro_bs %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :fukuro_fs, 'FS：' %>
      <%= f.text_field :fukuro_fs %>        
    </div>
      
    <div class="form-group">
      <%= f.label :comment, 'コメント(最大24文字)' %>
      <%= f.text_area :comment, :class=>"form-control", maxlength: 24 %>
    </div>
  <% end %>
</div>

<style>
.photosArea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photosArea .previewImg {
  width: 100%;
}
</style>

<script>
// グローバル変数
var canvas = document.getElementById('liveview');
var ctx = canvas.getContext('2d');
var img = new Image();
var reader = new FileReader();

// 入力欄の有効(false)・無効化(true)操作
function inputAreaDisable(flag) {
  $("#post_hyoko").prop("disabled", flag); // 標高
  $("#post_ouro_bs, #post_ouro_fs").prop("disabled", flag); // 往路データ  
  $("#post_fukuro_bs, #post_fukuro_fs").prop("disabled", flag); // 復路データ
  $("#post_comment").prop("disabled", flag); // コメント欄
}

// 戻るボタン
document.querySelector("#return").addEventListener("click", () => {
  // 登録ボタンを無効化
  $("#submit").prop("disabled", true);
  // 入力欄を有効化
  inputAreaDisable(false);  
  // ファイル選択を初期化  
  $('#damage_image1').val('');
  // liveview上の画像をクリア
  ctx.clearRect(0, 0, canvas.width, canvas.height);
});

$('#post_image1').on('change', function (e) {
  reader.onload = function (e) {
    img.src = e.target.result;
    // iPad 第6世代
    //img.width = 3264;
    //img.height = 2448;
   
    // 画像を描画
    img.onload = function() {
      // 画像サイズ取得
      var imgW = img.width;
      var imgH = img.height;
      // プレビュー画像の幅取得
      var previewImgW = $('.previewImg').width();
      var previewImgH = $('.previewImg').height();
      // 拡縮率の計算
      var rate = previewImgH / imgH;    
      
      // 画像ファイルの横幅に拡縮率を掛け、canvasのサイズにセット
      canvas.width = imgW * rate * 4;      // 高画質化のため、4倍に
      canvas.height = imgH * rate * 4;     // 高画質化のため、4倍に
      // 画像を canvas に表示
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      // スタイルを設定
      canvas.style.width = String(imgW * rate) + "px";
      canvas.style.height = String(imgH * rate) + "px";
      
      // 登録ボタンを有効化
      $("#submit").prop("disabled", false);
      // 入力欄を無効化
      inputAreaDisable(true);
    }
  }
  reader.readAsDataURL(e.target.files[0]);
});

$('#submit').on('mousedown', function (e) {
  // canvasの画像化
  var canvas_data = canvas.toDataURL('image/jpeg');
  $("#canvas_data").val(canvas_data);
});
</script>