<div class="row">
  <div style="margin: 10px;">
    <%= form_for(@post) do |f| %>
      <%= f.hidden_field :point_id, :value => @point.id %>
      <%= f.hidden_field :survey_type, :value => @post.survey_type %>
      <%= f.file_field :image1, :accept => 'image/*', :capture => 'camera' %>
      <%= f.hidden_field :image_url %>
      
      <div class="form-group" style="margin-top: 10px; padding: 10px; background: #eee;">    
        ホワイトボードの配置（縦置き）：
        <label id="wb_left-top"><%= f.radio_button :position_wb, "0" %>左上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="wb_top"><%= f.radio_button :position_wb, "1" %>上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="wb_right-top"><%= f.radio_button :position_wb, "2" %>右上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="wb_right-under"><%= f.radio_button :position_wb, "3" %>右下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="wb_under"><%= f.radio_button :position_wb, "4" %>下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="wb_left-under"><%= f.radio_button :position_wb, "5" %>左下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <br/>
        ホワイトボードの配置（横置き）：
        <label id="yoko_wb_left-top"><%= f.radio_button :position_wb, "6" %>左上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="yoko_wb_top"><%= f.radio_button :position_wb, "7" %>上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="yoko_wb_right-top"><%= f.radio_button :position_wb, "8" %>右上</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="yoko_wb_right-under"><%= f.radio_button :position_wb, "9" %>右下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="yoko_wb_under"><%= f.radio_button :position_wb, "10" %>下</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="yoko_wb_left-under"><%= f.radio_button :position_wb, "11" %>左下</label>&nbsp;&nbsp;&nbsp;&nbsp;          
      </div>
      
      <table class="preview-area">
        <tr>
          <td>
            <% unless @preview_post.image1? %>
              <%= image_tag "bg_img.jpg" %>
            <% else %>
              <%= image_tag @preview_post.image1 %>
            <% end %>
          </td>
          <td>
            <canvas id="liveview"></canvas>
          </td>
        </tr>
      </table>
      
      <div class="form-group">
        <%= f.label :hyoko, '標高：' %>
        <%= f.text_field :hyoko %>
      </div>
      
      <div class="form-group">
        往路データ&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.label :ouro_bs, 'BS：' %>
        <%= f.text_field :ouro_bs %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.label :ouro_fs, 'FS：' %>
        <%= f.text_field :ouro_fs %>        
      </div>
      
      <div class="form-group">
        復路データ&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.label :fukuro_bs, 'BS：' %>
        <%= f.text_field :fukuro_bs %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.label :fukuro_fs, 'FS：' %>
        <%= f.text_field :fukuro_fs %>        
      </div>
      
      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_area :comment, :class=>"form-control" %>
      </div>
      <%= f.submit '登録', :class=>"btn btn-primary", :id=>"submit", method: :delete, data: { confirm: '登録してよろしいでしょうか？' } %>
    <% end %>
  </div>
</div>

<script>
  // グローバル変数
  var canvas = document.getElementById('liveview');
  var ctx = canvas.getContext('2d');
  var canvasWidth, canvasHeight;
  var img = new Image();
  var reader = new FileReader();
  var tapCount = 0;
  var wb_width = 160, wb_height = 200;
  var yoko_wb_width = 170, yoko_wb_height = 100;  

  // ホワイトボードの描画
  function drawWB(x, y, width, height) {
    /* 初期化 */
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

    // パスをリセット
    ctx.beginPath();
    // レクタングルの座標(x, y)とサイズ(width, height)を指定
    ctx.rect( x, y, width, height );
    // 塗りつぶしの色
    ctx.fillStyle = "rgba(255,255,255,0.7)";
    // 塗りつぶしを実行
    ctx.fill();
    // 線の色
    ctx.strokeStyle = "yellow";
    // 線の太さ
    ctx.lineWidth = 2;
    // 線を描画を実行
    ctx.stroke();
  }

  $('#post_image1').on('change', function (e) {
    reader.onload = function (e) {
      img.src = e.target.result;
      // iPad 第6世代
      //img.width = 3264;
      //img.height = 2448;
     
      // 画像を描画
      img.onload = function() {
        var rate = img.naturalWidth / canvas.clientWidth;
        canvasWidth = canvas.clientWidth;
        canvasHeight = img.naturalHeight / rate;
        canvas.width = canvasWidth;
        canvas.height = canvasHeight;        

        // 画像を描画
        ctx.drawImage(img, 0, 0, canvasWidth, this.height * (canvasWidth / this.width));
        //////////////////////
        // ホワイトボード描画
        // 縦置き
        if(document.getElementById('post_position_wb_0').checked){ 
          drawWB(0, 0, wb_width, wb_height);
        } else if(document.getElementById('post_position_wb_1').checked){ 
          drawWB(canvas.width/2 - wb_width/2, 0, wb_width, wb_height);        
        } else if(document.getElementById('post_position_wb_2').checked){ 
          drawWB(canvas.width - wb_width, 0, wb_width, wb_height);        
        } else if(document.getElementById('post_position_wb_3').checked){ 
          drawWB(canvas.width - wb_width, canvas.height - wb_height, wb_width, wb_height);      
        } else if(document.getElementById('post_position_wb_4').checked){ 
          drawWB(canvas.width/2 - wb_width/2, canvas.height - wb_height, wb_width, wb_height);
        } else if(document.getElementById('post_position_wb_5').checked){ 
          drawWB(0, canvas.height - wb_height, wb_width, wb_height);
        }
        // 横置き
          else if(document.getElementById('post_position_wb_6').checked){ 
          drawWB(0, 0, yoko_wb_width, yoko_wb_height);
        } else if(document.getElementById('post_position_wb_7').checked){ 
          drawWB(canvas.width/2 - yoko_wb_width/2, 0, yoko_wb_width, yoko_wb_height);
        } else if(document.getElementById('post_position_wb_8').checked){ 
          drawWB(canvas.width - yoko_wb_width, 0, yoko_wb_width, yoko_wb_height);
        } else if(document.getElementById('post_position_wb_9').checked){ 
          drawWB(canvas.width - yoko_wb_width, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
        } else if(document.getElementById('post_position_wb_10').checked){ 
          drawWB(canvas.width/2 - yoko_wb_width/2, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
        } else if(document.getElementById('post_position_wb_11').checked){ 
          drawWB(0, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
        }        
      }
    }
    reader.readAsDataURL(e.target.files[0]);
  });

  // 縦置き
  $('#wb_left-top').on('click', function (e) {
    drawWB(0, 0, wb_width, wb_height);
  });
  $('#wb_top').on('click', function (e) {
    drawWB(canvas.width/2 - wb_width/2, 0, wb_width, wb_height);
  });
  $('#wb_right-top').on('click', function (e) {
    drawWB(canvas.width - wb_width, 0, wb_width, wb_height);
  });
  $('#wb_right-under').on('click', function (e) {
    drawWB(canvas.width - wb_width, canvas.height - wb_height, wb_width, wb_height);
  });
  $('#wb_under').on('click', function (e) {
    drawWB(canvas.width/2 - wb_width/2, canvas.height - wb_height, wb_width, wb_height);
  });
  $('#wb_left-under').on('click', function (e) {
    drawWB(0, canvas.height - wb_height, wb_width, wb_height);
  });
  // 横置き
  $('#yoko_wb_left-top').on('click', function (e) {
    drawWB(0, 0, yoko_wb_width, yoko_wb_height);
  });
  $('#yoko_wb_top').on('click', function (e) {
    drawWB(canvas.width/2 - yoko_wb_width/2, 0, yoko_wb_width, yoko_wb_height);
  });
  $('#yoko_wb_right-top').on('click', function (e) {
    drawWB(canvas.width - yoko_wb_width, 0, yoko_wb_width, yoko_wb_height);
  });
  $('#yoko_wb_right-under').on('click', function (e) {
    drawWB(canvas.width - yoko_wb_width, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
  });
  $('#yoko_wb_under').on('click', function (e) {
    drawWB(canvas.width/2 - yoko_wb_width/2, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
  });
  $('#yoko_wb_left-under').on('click', function (e) {
    drawWB(0, canvas.height - yoko_wb_height, yoko_wb_width, yoko_wb_height);
  });  
</script>