<table class="table table-bordered table-condensed" style="background-color: white; margin-bottom: 0px; width:170px;">
  <tr>
    <td>調査日</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= post.updated_at.strftime('%Y/%m/%d') %>
      </div>
    </td>
  </tr>
  <tr>
    <td>家屋名</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= house.house_name %>
      </div>
    </td>
  </tr>
  <tr>
    <td>家屋No.</td>
    <td>
      <div style="height:12px; overflow:hidden;">
        <%= house.id %>
      </div>
    </td>
    <td>写真No.</td>
    <td colspan="2">
      <div style="height:12px; overflow:hidden;">
        測点.<%= point.number %>
      </div>
    </td>
  </tr>
  <tr>
    <td>調査箇所</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= point.room_name %>
      </div>
    </td>
  </tr>
  <tr>
    <td>標高</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= post.hyoko %>
      </div>
    </td>
  </tr>
  <tr>
    <td>コメント</td>
    <td colspan="4">
      <div style="height:12px; overflow:hidden;">
        <%= post.comment %>
      </div>
    </td>
  </tr>
</table>