<% 
  survey_type = @post.survey_type
  if survey_type == "pre"
    survey_type_name = "事前調査"
  elsif survey_type == "ongoing"
    survey_type_name = "事中調査"
  elsif survey_type == "after"
    survey_type_name = "事後調査"
  else
    survey_type_name = "その他"
  end
  
  position_wb = @post.position_wb
  if position_wb == 0
    position_wb_name = "左"
  elsif position_wb == 1
    position_wb_name = "左上"
  elsif position_wb == 2
    position_wb_name = "上"
  elsif position_wb == 3
    position_wb_name = "右上"
  elsif position_wb == 4
    position_wb_name = "右"
  elsif position_wb == 5
    position_wb_name = "右下"
  elsif position_wb == 6
    position_wb_name = "下"
  elsif position_wb == 7
    position_wb_name = "左下"
  else
    position_wb_name = "その他"
  end    
%>

<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active">測点.<%= @point.number %>（<%= survey_type_name %>）</li>
</ol>

<h2 class="text-center">測点：P.<%= @point.number %>の撮影（<%= survey_type_name %>）</h2>
<%= link_to '編集', edit_post_path(point_id: @point.id, survey_type: survey_type), :class=>"btn btn-primary" %>

<table style="margin-top:10px;">
  <tr>
    <td><%= image_tag @post.image1 %></td>
    <td>
      <table class="table table-bordered" style="margin:10px;">
        <tr>
          <td>調査日</td>
          <td style="min-width: 350px;" colspan="3"><%= @post.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>家屋名</td>
          <td colspan="3"><%= @house.house_name %></td>
        </tr>
        <tr>
          <td>家屋No.</td>
          <td><%= @house.id %></td>
          <td>写真No.</td>
          <td></td>
        </tr>
        <tr>
          <td>調査箇所</td>
          <td colspan="3"><%= @point.room_name %></td>
        </tr>
        <tr>
          <td>コメント</td>
          <td colspan="3"><%= @post.comment %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>