<% 
  survey_type = @post.survey_type
  if survey_type == "pre"
    survey_type_name = "事前調査"
  elsif survey_type == "ongoing"
    survey_type_name = "事中調査"
  elsif survey_type == "after"
    survey_type_name = "事後調査"
  else
    survey_type_name = "その他"
  end
%>

<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li><%= link_to @house.house_name, @house %></li>
  <li class="active">測点.<%= @point.number %>（<%= survey_type_name %>）</li>
</ol>

<h2 class="text-center">測点：P.<%= @point.number %>の撮影（<%= survey_type_name %>）</h2>
<%= link_to '編集', edit_post_path(point_id: @point.id, survey_type: survey_type), :class=>"btn btn-primary" %>
<!-- 写真 -->
<%= render 'posts/photo_with_wb', { house: @house, point: @point, post: @post } %>